a{color:#8e8e8e;}
a{text-decoration:none}
*{margin:0px;padding:0px;}
li{list-style-type:none;}
a{text-decoration:none;}
body{font-family:"微软雅黑";background-color:#2e2a28;} 
html,body {height:100%}

.topmax {width:100%;height:190px;background-color:#2A2A2A;}
.top1 {width:100%;height:30px;background-color:#1D1D1D;}
.top1a {width:1200px;margin:0 auto;} .top1a span{font-size:12px;color:#8e8e8e;}
.top1b {float:left;} .top1b li{float:left;margin-left:15px;} 
.top1c {float:right; margin-left:-10px;} .top1c li{float:left;margin-left:15px;} 

.top2 {width:1200px;margin:0 auto;height:123px;}
.logo {width:260px;height:123px;float:left;} .img_110{margin-top:20px;}
.top2a {width:730px;height:100%;float:left;}
.top2a1 {width:730px;height:36px;background-color:}
.top2a2 {width:459px;background-color:#fff;height:32px;margin:0 auto;}
.top2a2a {width:407px;height:36px;float:left;border:0px;}
.top2a2c {width:45px;height:35px;float:left;margin-top:5px;}
.top2a3 {width:459px;margin:0 auto;}
.top2a3a {float:left;line-height:25px;} .top2a3a li{margin-right:10px;float:left;font-size:13px;}
.top2b {width:210px;float:left;}
.top2b2 {width:100%;height:30px;background-color:}
.top2b1 {float:left;color:#da975d;} .top2b1 li{float:left;} .top2b1 li span{font-size:12px;} .top2b1 li span1{font-size:22px;font-weight:bold;}


.top3 {width:100%;background-color:#201d1b;height:38px;}
.top3a { width:1200px;margin:0 auto;height:38px;}
.top3b {float:left;} .top3b  span{font-weight:bold;} .top3b li{float:left;line-height:38px;margin-left:65px;font-size:14px;}

.top3c {width:163px;height:38px;background-color:#cb9873;float:right;text-align:center;line-height:38px;color:#FFF;} 


.fot_1 {width:100%;background-color:#201d1b;height:176px;clear:both;}
.fot_2 {width:1200px;margin:0 auto;text-align:center;}
.fot_3 {height:65px;margin:0 auto;width:}
.fot_3a li{margin-left:30px;float:left;line-height:45px;} .fot_3a span1{font-size:15px;color:#FFF;} .fot_3a span{font-size:13px;}
.fot_4 {width:790px;margin:0 auto; }
.fot_4a li{float:left;margin-left:15px; font-size:12px;} .fot_4a span{color:#FFF;}
.fot_5 {width:790px;margin:0 auto;line-height:25px;} .fot_5 span{color:#fff;font-size:12px;}


/*index部分 */

.indmax {width:100%;}


/*登陆*/
.dl_1 {width:100%;background:url(../images/head/dl_bg.png);margin:0 auto;height:553px;}
.dl_2 {width:1200px;margin:0 auto;}
.dl_3 {width:100%;height:100px;}
.dl_4 {width:342px;height:353px;float:right;margin-right:20px;background-color:#FFF;}
.form_1 {width:309px;margin:0 auto;}
.form_2 {font-size:20px;color:#333333;line-height:54px;}
.form_3 {background:url(../images/head/jingshi.png);width:100%;height:25px;text-align:center;font-size:13px;line-height:30px;}
.form_4 {background:url(../images/head/denglu.png);width:100%;height:40px;margin-top:20px;border:soild 1px #666666;}
.form_5 {background:url(../images/head/posword.png);width:100%;height:40px;}
.form_4a {height:60px;}
.inp_sr {width:270px;height:35px;float:right;margin-top:1px;}
.form_6 {width:100%;line-height:42px;height:40px;} .form_6 span{float:left;} .form_6 span1{float:right;}
.form_7 {width:100%;background-color:#da975d;height:38px;}
.inp_dl {width:100%;background-color:#da975d;height:38px;color:#FFF;font-size:14px;border:0px;}
.form_8 {width:100%; line-height:30px;}  .mfzc{float:right;} .gzewm{float:left;}




/*注册页面*/

.zc_max {width:100%;height:550px;background-color:#2e2a28;}
.zc_3{width:100%;height:100px;}
.zc_2 {width:1200px;text-align:center;}
.liuc {line-height:50px;width:700px;margin:0 auto;height:50px;}
.liuc_xgmm {line-height:50px;width:950px;margin:0 auto;height:50px;}
.liuc1 {margin-left:-30px;font-weight:bold;} .liuc1 li{float:left;margin-left:30px;line-height:50px;font-size:18px;} .liuc1 span{color:#FFF;} span1{color:#da975d;}
.liuc2 {background:url(../images/zhuce/hei.png);width:53px;height:53px;line-height:50px;text-align:center;}
.liuc3 {background:url(../images/zhuce/yellow.png);width:53px;height:53px;line-height:50px;text-align:center;}
.zc_4 {height:78px;}
.zc_5 {line-height:100px;font-size:26px;color:#bdbdbc;font-weight:bold;}
.zc_6 {background-color:#da975d;width:180px;height:42px;margin:0 auto;line-height:40px;color:#FFF} .zc_6 span{color:#FFF;}


.szh_1 {width:510px;height:175px;line-height:90px;margin:0 auto;}
.szh_2 li{float:left;height:60px;line-height:40px;color:#bebdbd;margin-left:15px;font-size:13px;font-weight:bold;} .szh_2 span{color:red;}
.szh_3 {widht:100%;height:50px;}
.szh_4 {width:400px;height:40px;background:url(../images/zhuce/password.png);border:0px;}
.szh_5 {width:170px;height:40px;background-color:#da975d;line-height:40px;float;left;margin-top:10px;color:#FFF;}
.szh_6 {width:325px;margin:0 auto}


.sjh_1 {width:400px;height:40px;background:url(../images/zhuce/shoujihaoma.png);border:0px;}
.sjh_2 {width:287px;height:40px;background-color:#3a342f;border:0px;}
.sjh_4 {width:100px;height:40px;background-color:#a5a3a2;color:#312f2f;}  .sjh_4 span{color:#312f2f;}
.sjh_3 {width:287px;height:40px;background-color:#3a342f;border:0px;}
.sjdx_001 {height:222px;width:510px;line-height:90px;margin:0 auto;}



/*带你拍上海*/

.dnpsh_top {width:100%;height:500px;margin:0 auto;}
.jianj {width:100%;height:40px;}
.dnpsh_max {width:1200px; margin:auto;}

.zuobian {width:900px;float:left;}
.flei {width:870px;height:170px;border:solid 1px #43403e;}
.flei_1 {width:850px;height:190px;margin:0 auto; line-height:40px; font-size:16px;}
.flei_2 li{float:left;margin-left:20px;color:#e2e2e1} .flei_2 {width:840px;}
.flei_2 span{width:52px;height:25px;background-color:#da975d;color:#FFF;}


.lch_1 {width:875px;height:225px; border:solid 1px #43403e; border-top:1px solid #ff8c14;margin-top:20px;}
.lch_2 {width:850px;height:181px;margin-top:20px;margin-left:20px;}
.lch_3 {width:181px;height:181px;float:left;}
.lch_4 {width:650px;height:181px;float:right;}
.lch_5 {line-height:30px;color:#bebdbd;font-size:14px;} .lch_5 span{float:left;}  .lch_5 span1{color:#b7b6b5;}


.tit_1 {width:100%;height:140px;border-bottom:solid 1px #44403c;}
.tit_2 {width:520px;height:140px;float:left;}
.tit_6 {width:100%;height:30px;line-height:30px;font-size:18px;color:#da975d;font-weight:bold;}
.tit_7 {width:100%;height:60px;line-height:18px;font-size:13px;color:#bebdbd;}
.tit_8 {color:#bebdbd;font-size:14px;}.tit_8 span{color:#a4734a;}
.tit_3 {width:130px;heigth:140px;float:left;text-align:center;}
.tit_4 {color:#da975d; text-align:center;line-height:30px;font-size:30px;} .tit_4 span{font-size:10px;}
.tit_5 {width:100px;height:30px;background-image:url(../images/chakanxingqing.png);text-align:center;line-height:30px;margin-left:20px;} .tit_5 span{color:#FFF;}


/*右边*/
.youbian {float:left;width:298px; border:1px solid #666666;}
.yb_1 {width:300px;border:solid 1px #43403e;}
.yb_top {width:300px;border:solid 1px #43404e;font-size:17px;line-height:40px;color:#d2925a;} .yb_top span{margin-left:10px;}
.yb_lb {width:280px;margin:0 auto;}
.labe_1 {font-size:13px;color:#b0afae;font-weight:bold;line-height:30px;} .labe_1 span{background-color:#7a7672;width:14px;} .labe_1 span1{background:url();margin-left;200px;}.labe_1 li{margin-top:10px;}
.fist_1 {float:left; width:82px;height:81px;} .fist_1 img{width:80px;height:80px;}
.fist_2 {float:left;height:56px;width:190px;}
.fist_3 {height:28px;width:62px;background:url(../images/fangk.png);margin-left:30px;}
.fist_4 {float:left;height:28px;width:190px;text-align:center;}
.y1{width:298px; height:40px; border-bottom:1px solid #666666; line-height:39px;}
.wq{width:208px; color:#BA8253; }
.jian{width:90px; color:#FFFFFF; font-size:14px;}
.y2{width:280px;  margin:0 auto;}
.yt1{width:280px; height:220px; }.yt1 img{ width:280px; height:202px;}

/*拍上海详情页*/

.psh_xq {float:left;width:900px;}
.psh_xq_dswz {width:900px;height:130px;color:#FFF;font-size:15px;} .psh_xq_dswz span{color:#da975d;font-size:18px;line-height:40px;} 
.psh_xq_max {width:900px;height:380px;}
.psh_pic   {width:290px;height:275px;float:left;} .psh_pic img{width:275px;height:275px;}
.psh_xq_yb {width:610px;float:left;}
.psh_xq_yb_1 {height:120px;}
.psh_xq_yb_1 li{float:left;width:265px;color:#FFF;font-size:14px;line-height:35px;}
.psh_jg    {background:url(../images/ljbm_bg.png);width:582px;height:62px;line-height:62px;font-size:14px;color:#ffffff;}
.psh_jg  span{font-size:30px;}
.psh_bm	{width:152px;height:38px;background:url(../images/ljbm_bg2.png);margin:0 auto;text-align:center;line-height:38px;margin-top:-55px;}
.psh_xzrs span{float:right;}
.psh_xzrs  {width:245px;height:50px;line-height:50px;color:#ffffff;font-size:14px;}
.psh_fxd   li{float:left;margin-left:5px;color:#FFF;} .psh_fxd ul{margin-left:-5px;margin-top:5px;}
.psh_hd {width:870px;height:45px;border:solid 1px #43403e;}
.psh_hd li{float:left;width:124px;height:42px;text-align:center;line-height:40px;}  .psh_hd li:hover{background:url(../images/hdpcc.png)}
.psh_hd a{color:#FFF;}


.psh_hd_2 {width:100%;height:50px;line-height:50px;color:#FFF;font-size:18px;}
.psh_hd_1 {width:870px;margin:0 auto;height:250px;}
.psh_hd_1 li{float:left;color:#FFF;font-size:14px;margin-left:10px;} .psh_hd_1 ul{height:40px;border:solid 1px #43403e;width:870px;line-height:40px;}
.psh_hd_1a	{width:62px;}
.psh_hd_1b	{width:325px;}
.psh_hd_1c	{width:120px;}
.psh_hd_1d	{width:205px;}
.psh_hd_1e	{width:93px;height:38px;background:url(../images/cj_bg.png);text-align:center;} .psh_hd_1e a{color:#da975d;}
.psh_hd_3  {width:100%;text-align:center;height:50px;line-height:50px;font-size:14px;} .psh_hd_3 a{color:#da975d}
.psh_hd_js  {width:100%;height:694px;}

.psh_hd_qt {width:100%;line-height:30px;height:180px;}  .psh_hd_qt li{color:#FFF;font-size:14px;} .psh_hd_qt span{color:#FFF;font-weight:bold;font-size:14px;}
.psh_hyp {width:100%;border:solid 1px #43403e;height:700px;}
.psh_hyp_1 {width:100%;height:40px;border-bottom:solid 1px #43403e;color:#FFF;line-height:40px;}
.psh_hyp_2 {width:835px;margin:0 auto;margin-top:25px;border-bottom:1px solid #43403e;height:100px;}
.psh_hyp_3 {float:left;width:75px;height:53px;} .psh_hyp_3 img{width:57px;height:53px;}
.psh_hyp_4 {width:742px;float:left;font-size:14px;line-height:25px;color:#FFF;}
.psh_hyp_4 span{color:#da975d;}



.tit_hdxq_1 {width:870px;height:100px;border-bottom:solid 1px #43403e;text-align:center;font-size:14px;line-height:35px;color:#FFF;}
.tit_hdxq_1 span{font-size:28px;}
.tit_hdxq_2 {width:870px;margin:0 auto; color:#FFFFFF;}
.tit_hdxq_3 {width:105px;height:105px;background:url(../images/pic_zan.png);text-align:center;line-height:150px;color:#da975d;margin:0 auto;}
.tit_hdxq_4 li{float:left;margin-left:5px; color:#CCCCCC;} .tit_hdxq_4 {width:270px;margin:0 auto;} .tit_hdxq_4 ul{margin-top:20px;}
.ttqq{ width:160px;height:88px;text-align:center;;color:#da975d;margin:0 auto;}
.ttqq1{width:160px; height:40px; background:#da975d; border-radius:5px; color:#FFFFFF; font-size:19px; font-weight:bold; line-height:37px;}
.ttqq2{width:160px; height:30px; margin-top:10px; color:#999999; font-size:15px;}
.fqhd_an_01  {background:url(../images/pic_fqhd.png);width:162px;height:42px;text-align:center;margin-left:666px;line-height:40px;color:#FFF;}
.fqhd_an_02	 {width:100%;height:108px;font-size:14px;color:#989796;} .fqhd_an_02 span{color:#da975d;}

.tit_6	span3{font-size:14px;color:#989796;} .tit_6	span1{font-size:13px;font-weight:0;}

/*作品详情*/
.zpxq{width:1200px; height:222px; margin:auto; border-bottom:1px solid #666666;}
.zpxq1{width:900px; height:222px; float:left}
.zpxq2{width:300px; height:222px; float:left;}
.zpxq1_1{width:166px; height:222px; float:left}.zpxq1_1 img{width:150px; height:150px; margin-top:35px;}
.zpxq1_2{ width:734px; height:222px; float:left;}
.zq_1{width:278px; height:64px; color:#abaaa9; font-size:18px; line-height:90px;}.zq_1  span{font-size:13px; margin-left:5px;}
.zq_2{width:220px; height:47px; color:#abaaa9; font-size:12px; color:#956b48;}.zq_2 span{ margin-left:2px; line-height:5px;}
.zq_2_1{ width:47px; float:left;}
.zq_2_2{ width:47px; float:left;}
.zq_2_3{ width:47px; float:left;}
.zq_3{width:154px; height:36px; color:#abaaa9; font-size:15px;}.zq_3 span{color:#956b48;} 
.liu{ margin-top:170px;}
.nr1{width:1200px; margin:auto; margin-top:20px; overflow:hidden; color:#abaaa9; font-size:17px;}
.pl_z{width:1200px; margin:0 auto; overflow:hidden; margin-top:20px;}
.pl_z_1{width:900px; float:left;}
.pl_z_2{width:300px; float:left; color:#abaaa9; font-size:17px;}
.pl_z_1_1{width:870px;}
.pl_z_2_1{width:300px; height:40px;}
.pl_z_2_1_1{width:300px; height:40px; margin-top:20px;}
.pl_z_2_2{width:300px; height:204px;}.pl_z_2_2 img{width:95px; height:102;margin:0px}
.pl_z_1_2{width:870px; height:40px; border:1px solid #3a342f; margin-top:20px; color:#abaaa9; font-size:16px; line-height:38px;}
.pl_z_1_3{width:870px; overflow:hidden; color:#abaaa9;}
.pl_z_1_3_1{width:830px; height:120px; margin:0 auto; border-bottom:1px solid #3a342f;}
.pl_z_1_3_2{width:68px; height:120px; float:left;}.pl_z_1_3_2 img{width:50px; height:50px; margin-top:38px;}
.pl_z_1_3_3{width:762px; height:120px; float:left;}
.p1_x{width:762px; height:52px; color:#966b47; font-size:15px; line-height:90px;}
.p1_x_1{width:762px; overflow:hidden; font-size:15px;}
.p1_x_2{width:62px; height:20px; margin-left:700px;}
.djck{width:870xp; height:50px; border-bottom:1px solid #43403e; color:#966b47; text-align:center; line-height:50px;}


.pt_kf {width:870px;height:330px;border:solid 1px #43403e;}
.pt_kf_1 {width:100%;height:40px;line-height:40px;border-bottom: solid 1px #43403e; }  .pt_kf_1 span{margin-left:10px;color:#da975d;font-weight:bold;}
.pt_kf_2 {width:832px;height:202px;margin-top:20px;margin-left:20px;} 
.pt_kf_wb {width:832px;height:200px;background:#3a342f;border:0px;}
.pt_kf_4  {width:330px;height:45px;float:left;}
.pt_kf_yz {width:222px;height:45px;background:#3a342f;border:0px;}
.pt_ft_5  {width:165px;height:44px;float:right;}
.pt_kf_3 {width:100%;margin-top:15px;}

/*老师风采*/
.lz{width:870px; margin:auto; color:#abaaa9;}
.lz_1{width:870px; height:225px; border-bottom:1px dashed #FFFFFF; }
.lz_1_1{width:155px; height:225px; float:left;} .lz_1_1 img{width:140px; height:180px; margin-top:20px;}
.lz_1_2{width:715px; height:225px; float:left;}
.lz_1_2_1{width:715px; height:75px; color:af7c50; }
.lz_1_2_1_1{ line-height:60px; font-size:19px;}
.lz_1_2_1_2{ line-height:2px; font-size:15px;}
.lz_1_2_2{width:715px; height:150px; font-size:13px; line-height:20px;}


















