body{font-family:"微软雅黑"; margin:0px;}
a{text-decoration:none; }
img{border:0px;}






.bananer{width:100%; height:500px; margin:auto;}





.main{width:100%; height:3588px; margin:auto; background:url(../images/bg.jpg);}

.main_middle{width:1200px; height:3500px; margin:auto; }



.main_a{width:1200px; height:350px; float:left; margin-top:30px; overflow:hidden;}

.main_a1{width:1200px; height:30px; float:left; }
.main_a2{width:25px; height:25px; float:left; background:url(../images/a1.jpg); margin-top:2px; overflow:hidden;}
.main_a3{width:1100px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#da975d; }
.main_a4{width:50px; height:30px; float:left; line-height:30px; font-size:14px; color:#979594;}
.main_a4 a{color:#979594;}

.main_a5{width:1200px; height:6px; float:left; background:url(../images/a5.jpg); margin-top:2px; overflow:hidden;}

.main_a li{width:228px; height:280px; float:left; margin-left:11px; margin-top:20px; display:inline; overflow:hidden; list-style-type:none; }

.main_a6{width:228px; height:228px; float:left; }
.main_a7{width:228px; height:25px; float:left; margin-top:10px; overflow:hidden;  line-height:25px; font-size:14px; color:#d5d4d4;}
.main_a7 a{color:#d5d4d4;}
.main_a8{width:228px; height:20px; float:left; line-height:20px; font-size:12px; color:#827f7e;}
.as1{width:40px; height:20px; float:left; line-height:20px; font-size:12px;}
.as2{width:12px; height:18px; float:left; background:url(../images/p2.jpg); margin-top:1px; overflow:hidden;}
.as3{width:40px; height:20px; float:left; line-height:20px; font-size:12px; margin-left:5px; display:inline;}










.main_b{width:1200px; height:345px; float:left; margin-top:20px; overflow:hidden;}

.main_b1{width:1200px; height:30px; float:left; }
.main_b2{width:25px; height:25px; float:left; background:url(../images/dy2.jpg); margin-top:2px; overflow:hidden;}
.main_b3{width:1100px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#da975d; }
.main_b4{width:50px; height:30px; float:left; line-height:30px; font-size:14px; color:#979594;}
.main_b4 a{color:#979594;}

.main_b5{width:1200px; height:6px; float:left; background:url(../images/a5.jpg); margin-top:2px; overflow:hidden;}


.bt_a{width:895px; height:280px; float:left; border:1px solid #44403c; margin-top:20px; overflow:hidden; background:#2f2a26;}
.bt_a1{width:895px; height:40px; float:left; border-bottom:1px solid #44403c; }
.bt_a2{width:520px; height:40px; float:left;  line-height:40px; color:#da975d; margin-left:35px; display:inline; font-size:16px; }
.bt_a3{width:132px; height:40px; float:left;  line-height:40px; color:#da975d; font-size:16px; }
.bt_a4{width:132px; height:40px; float:left;  line-height:40px; color:#da975d; font-size:16px; }
.bt_a5{width:70px; height:40px; float:left;  line-height:40px; color:#da975d; font-size:16px; }


.main_b li{width:833px; height:45px; float:left; list-style-type:none; margin-left:20px; display:inline; border-bottom:1px dashed #44403c;}

.bt_a6{width:12px; height:11px; float:left; background:url(../images/xe.jpg); margin-top:18px; overflow:hidden;}
.bt_a7{width:445px; height:45px; float:left; margin-left:10px; display:inline; line-height:45px; color:#d5d4d4;}
.bt_a7 a{color:#d5d4d4; font-size:14px;}

.bt_a8{width:100px; height:45px; float:left; margin-left:65px; display:inline;}
.bt_a9{width:75px; height:20px; float:left; line-height:20px; font-size:12px; color:#ffffff; margin-top:5px; overflow:hidden;}
.bt_a10{width:75px; height:20px; float:left; line-height:20px; font-size:12px; color:#898886;}

.bt_a11{width:40px; height:45px; float:left; margin-left:55px; display:inline;}
.bt_a12{width:60px; height:20px; float:left; line-height:20px; font-size:12px; color:#da975d; margin-top:5px; overflow:hidden;}
.bt_a13{width:60px; height:20px; float:left; line-height:20px; font-size:12px; color:#898886;}

.bt_a14{width:30px; height:40px; float:left; line-height:40px; font-size:14px; color:#898886; margin-left:73px; display:inline;}



.bt_b{width:280px; height:280px; float:left; border:1px solid #44403c; margin-top:20px; overflow:hidden; margin-left:18px; display:inline;}

.bt_b1{width:275px; height:35px; float:left; margin-top:1px; overflow:hidden; margin-left:1px; display:inline; color:#9a9895; background:#35302b; border:0px;}

.bt_b2{width:275px; height:180px; float:left; margin-top:1px; overflow:hidden; margin-left:1px; display:inline; color:#9a9895; background:#35302b; border:0px; font-size:14px;}

.bt_b3{width:120px; height:35px; float:left;  font-size:14px; color:#ffffff; margin-top:20px; overflow:hidden; margin-left:10px; display:inline; background:#da975d; line-height:30px; text-align:center; border:0px; }
.bt_b3 a{color:#ffffff;}

.bt_b4{width:130px; height:40px; line-height:40px; margin-top:20px; margin-left:10px; display:inline; overflow:hidden; font-size:14px; color:#9a9895; float:left;}





.main_c{width:1200px; height:90px; float:left; margin-top:40px; overflow:hidden;}






.main_d{width:1200px; height:300px; float:left; margin-top:25px; overflow:hidden;}

.main_d1{width:1200px; height:30px; float:left; }
.main_d2{width:25px; height:25px; float:left; background:url(../images/dy3.jpg); margin-top:2px; overflow:hidden;}
.main_d3{width:1100px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#da975d; }
.main_d4{width:50px; height:30px; float:left; line-height:30px; font-size:14px; color:#979594;}
.main_d4 a{color:#979594;}

.main_d5{width:1200px; height:6px; float:left; background:url(../images/a5.jpg); margin-top:2px; overflow:hidden;}

.xe_a{width:345px; height:215px; float:left; margin-top:20px; overflow:hidden;}
.xe_a li{width:340px; height:30px; float:left; list-style-type:none; line-height:30px; }

.sb1{width:12px; height:11px; float:left; background:url(../images/xe.jpg); margin-top:8px; overflow:hidden;}
.sb2{width:230px; height:30px; float:left; margin-left:10px; display:inline; line-height:30px; }
.sb2 a{color:#d5d4d4;}
.sb3{width:85px; height:30px; float:left; color:#d5d4d4; line-height:30px;}








.xe_b{width:840px; height:215px; float:left; margin-top:20px; overflow:hidden; margin-left:15px; display:inline;}

.xe_b li{width:260px; height:200px; float:left; list-style-type:none; margin-left:10px; display:inline; margin-top:10px; overflow:hidden;}
.ts{width:260px; height:200px; float:left;}
.ts2{background: #000000 none repeat scroll 0 0;  height: 30px;  opacity: 0.5; width: 260px; margin-top:170px;   font-size:16px;  color:#fff;  line-height:30px;}

.ts3{width:140px; height:30px; float:left; margin-left:20px; display:inline; color:#fff; line-height:30px; margin-top:-30px; overflow:hidden;}
.ts4{width:90px; height:30px; float:right; color:#fff; line-height:30px; margin-top:-30px; overflow:hidden; margin-right:15px;}



.main_e{width:1200px; height:380px; float:left; margin-top:25px; overflow:hidden;}


.hd_a{width:825px; height:370px; float:left; }
.hd_a1{width:825px; height:30px; float:left; }
.hd_a2{width:25px; height:25px; float:left; background:url(../images/hd1.jpg); margin-top:2px; overflow:hidden;}
.hd_a3{width:85px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#da975d; }
.hd_a4{width:640px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#585553; }

.hd_a5{width:50px; height:30px; float:left; line-height:30px; font-size:14px; color:#979594;}
.hd_a5 a{color:#979594;}

.hd_a6{width:820px; height:6px; float:left; background:url(../images/hd2.jpg); margin-top:2px; overflow:hidden;}

.hd_a7{width:315px; height:300px; float:left;  font-size:14px; color:#979594; margin-top:20px; overflow:hidden;}
.hd_a7 li{width:340px; height:30px; float:left; list-style-type:none; line-height:30px; }

.sp1{width:12px; height:11px; float:left; background:url(../images/xe.jpg); margin-top:8px; overflow:hidden;}
.sp2{width:300px; height:30px; float:left; margin-left:10px; display:inline; line-height:30px; }
.sp2 a{color:#d5d4d4;}


.hd_a8{width:480px; height:300px; float:left; margin-top:20px; overflow:hidden; margin-left:25px; display:inline;}
.hd_a9{width:480px; height:300px; float:left; }
.hd_a10{background: #000000 none repeat scroll 0 0;  height: 30px;  opacity: 0.5; width: 480px; margin-top:270px;   font-size:16px;  color:#fff;  line-height:30px;}

.hd_a11{width:140px; height:30px; float:left; margin-left:20px; display:inline; color:#fff; line-height:30px; margin-top:-30px; overflow:hidden;}
.hd_a12{width:90px; height:30px; float:right; color:#fff; line-height:30px; margin-top:-30px; overflow:hidden; margin-right:15px;}





.hd_b{width:350px; height:370px; float:left; margin-left:25px; display:inline; margin-top:20px; overflow:hidden;}

.hd_b1{width:350px; height:30px; float:left; }
.hd_b2{width:25px; height:25px; float:left; background:url(../images/hd1.jpg); margin-top:2px; overflow:hidden;}
.hd_b3{width:130px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#da975d; }
.hd_b4{width:140px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#585553; }


.hd_b6{width:347px; height:7px; float:left; background:url(../images/hd4.jpg); margin-top:2px; overflow:hidden;}

.hd_b7{width:350px; height:250px; float:left;  font-size:14px; color:#979594; margin-top:20px; overflow:hidden;}
.hd_b7 li{width:350px; height:30px; float:left; list-style-type:none; line-height:30px; }

.su1{width:12px; height:11px; float:left; background:url(../images/xe.jpg); margin-top:8px; overflow:hidden;}
.su2{width:300px; height:30px; float:left; margin-left:10px; display:inline; line-height:30px; }
.su2 a{color:#d5d4d4;}

.hd_b8{width:120px; height:35px; float:left;  font-size:14px; color:#ffffff; margin-top:20px; overflow:hidden; margin-left:10px; display:inline; background:#da975d; line-height:30px; text-align:center; }
.hd_b8 a{color:#ffffff;}








.main_f{width:1200px; height:345px; float:left; margin-top:10px; overflow:hidden;}

.main_f1{width:1200px; height:30px; float:left; }
.main_f2{width:25px; height:25px; float:left; background:url(../images/dy4.jpg); margin-top:2px; overflow:hidden;}
.main_f3{width:1100px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#da975d; }
.main_f4{width:50px; height:30px; float:left; line-height:30px; font-size:14px; color:#979594;}
.main_f4 a{color:#979594;}

.main_f5{width:1200px; height:6px; float:left; background:url(../images/a5.jpg); margin-top:2px; overflow:hidden;}

.main_f li{width:228px; height:280px; float:left; margin-left:11px; margin-top:20px; display:inline; overflow:hidden; list-style-type:none; }

.main_f6{width:228px; height:228px; float:left; }
.main_f7{width:228px; height:25px; float:left; margin-top:10px; overflow:hidden;  line-height:25px; font-size:14px; color:#d5d4d4;}
.main_f7 a{color:#d5d4d4;}
.main_f8{width:228px; height:20px; float:left; line-height:20px; font-size:12px; color:#827f7e;}
.fs1{width:40px; height:20px; float:left; line-height:20px; font-size:12px;}
.fs2{width:12px; height:18px; float:left; background:url(../images/p2.jpg); margin-top:1px; overflow:hidden;}
.fs3{width:40px; height:20px; float:left; line-height:20px; font-size:12px; margin-left:5px; display:inline;}







.main_g{width:1200px; height:90px; float:left; margin-top:30px; overflow:hidden;}





.main_h{width:1200px; height:455px; float:left; margin-top:30px; overflow:hidden;}

.main_h1{width:1200px; height:30px; float:left; }
.main_h2{width:25px; height:25px; float:left; background:url(../images/dy5.jpg); margin-top:2px; overflow:hidden;}
.main_h3{width:1100px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#da975d; }
.main_h4{width:50px; height:30px; float:left; line-height:30px; font-size:14px; color:#979594;}
.main_h4 a{color:#979594;}

.main_h5{width:1200px; height:6px; float:left; background:url(../images/a5.jpg); margin-top:2px; overflow:hidden;}

.main_h li{width:190px; height:190px; float:left; margin-left:10px; margin-top:10px; display:inline; overflow:hidden; list-style-type:none; }







.main_i{width:1200px; height:245px; float:left; margin-top:35px; overflow:hidden;}

.main_i1{width:1200px; height:30px; float:left; }
.main_i2{width:25px; height:25px; float:left; background:url(../images/dy6.jpg); margin-top:2px; overflow:hidden;}
.main_i3{width:1100px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#da975d; }
.main_i4{width:50px; height:30px; float:left; line-height:30px; font-size:14px; color:#979594;}
.main_i4 a{color:#979594;}

.main_i5{width:1200px; height:6px; float:left; background:url(../images/a5.jpg); margin-top:2px; overflow:hidden;}

.main_i li{width:190px; height:190px; float:left; margin-left:60px; margin-top:20px; display:inline; overflow:hidden; list-style-type:none; }
.main_i ul{margin-left:-60px;}





.main_j{width:1200px; height:250px; float:left; margin-top:30px; overflow:hidden;}

.si_a{width:345px; height:240px; float:left;}
.si_a1{width:345px; height:30px; float:left; }
.si_a2{width:25px; height:25px; float:left; background:url(../images/si2.jpg); margin-top:2px; overflow:hidden;}
.si_a3{width:260px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#da975d; }
.si_a4{width:50px; height:30px; float:left; line-height:30px; font-size:14px; color:#979594;}
.si_a4 a{color:#979594;}

.si_a5{width:340px; height:6px; float:left; background:url(../images/si.jpg); margin-top:2px; overflow:hidden;}

.si_a6{width:139px; height:180px; float:left;  margin-top:20px; overflow:hidden; }
.si_a6 a{width:139px;height:180px;}
.si_a6 a img{width:139px;height:180px;}
.si_a7{width:200px; height:180px; float:left; background:url(../images/r2.jpg); margin-top:20px; overflow:hidden;}

.si_a8{width:175px; height:30px; float:left;  margin-top:10px; overflow:hidden; line-height:30px; font-size:18px; color:#da975d; margin-left:20px; display:inline;}
.si_a9{width:175px; height:30px; float:left;  line-height:30px; font-size:14px; color:#da975d; margin-left:20px; display:inline;}
.si_a10{width:175px; height:100px; float:left;  line-height:30px; font-size:12px; color:#7f7d7c; border-top:1px solid #3f3c3a; margin-left:20px; display:inline;}



.si_b{width:440px; height:240px; float:left; margin-left:30px; display:inline;}
.si_b2{background: #000000 none repeat scroll 0 0;  height: 40px;  opacity: 0.5; width: 440px; margin-top:200px; text-align:center;  font-size:18px;  color:#fff;  line-height:40px;}

.si_c{width:380px; height:242px; float:left;}
.si_c li{width:188px; height:119px; float:left; list-style-type:none; margin-bottom:2px; margin-left:2px; display:inline; overflow:hidden;}









.main_k{width:1200px; height:255px; float:left; margin-top:30px; overflow:hidden;}

.ko_a{width:345px; height:250px; float:left; }
.ko_a1{width:345px; height:30px; float:left; }
.ko_a2{width:25px; height:25px; float:left; background:url(../images/k1.jpg); margin-top:2px; overflow:hidden;}
.ko_a3{width:85px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#da975d; }
.ko_a4{width:165px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#585553; }

.ko_a5{width:50px; height:30px; float:left; line-height:30px; font-size:14px; color:#979594;}
.ko_a5 a{color:#979594;}

.ko_a6{width:340px; height:6px; float:left; background:url(../images/si.jpg); margin-top:2px; overflow:hidden;}

.ko_a7{width:340px; height:80px; float:left;  margin-top:15px; overflow:hidden;}
.ko_a8{width:80px; height:80px; float:left;  }
.ko_a9{width:245px; height:20px; float:left;  line-height:20px; color:#d5d4d4; font-size:14px; margin-left:10px; display:inline;}
.ko_a10{width:245px; height:80px; float:left;  line-height:25px; color:#827f7e; font-size:12px; margin-left:10px; display:inline;}

.ko_a11{width:340px; height:80px; float:left;  margin-top:15px; overflow:hidden;}
.ko_a12{width:80px; height:80px; float:left;  }
.ko_a13{width:245px; height:20px; float:left;  line-height:20px; color:#d5d4d4; font-size:14px; margin-left:10px; display:inline;}
.ko_a14{width:245px; height:80px; float:left;  line-height:25px; color:#827f7e; font-size:12px; margin-left:10px; display:inline;}



.ko_b{width:440px; height:250px; float:left; margin-left:35px; display:inline;}

.ko_b1{width:440px; height:30px; float:left; }
.ko_b2{width:25px; height:25px; float:left; background:url(../images/kb1.jpg); margin-top:2px; overflow:hidden;}
.ko_b3{width:85px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#da975d; }
.ko_b4{width:260px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#585553; }

.ko_b5{width:50px; height:30px; float:left; line-height:30px; font-size:14px; color:#979594;}
.ko_b5 a{color:#979594;}

.ko_b6{width:440px; height:6px; float:left; background:url(../images/kb2.jpg); margin-top:2px; overflow:hidden;}

.ko_b li{width:140px; height:180px; float:left; margin-left:5px; display:inline; margin-top:20px; overflow:hidden; list-style-type:none;}
.ko_b li a{ display:block;width:140px;height:180px;}
.ko_b li a img{ display:block;width:140px;height:180px;}





.ko_c{width:345px; height:250px; float:left; margin-left:35px; display:inline;}

.ko_c1{width:345px; height:30px; float:left; }
.ko_c2{width:25px; height:25px; float:left; background:url(../images/kb4.jpg); margin-top:2px; overflow:hidden;}
.ko_c3{width:85px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#da975d; }
.ko_c4{width:165px; height:30px; float:left; line-height:30px; margin-left:10px; display:inline; font-size:20px; color:#585553; }

.ko_c5{width:50px; height:30px; float:left; line-height:30px; font-size:14px; color:#979594;}
.ko_c5 a{color:#979594;}

.ko_c6{width:340px; height:6px; float:left; background:url(../images/si.jpg); margin-top:2px; overflow:hidden;}

.ko_c7{width:340px; height:80px; float:left;  margin-top:15px; overflow:hidden;}
.ko_c8{width:80px; height:80px; float:left;  }.ko_c8 img {width:80px;height:80px;}
.ko_c9{width:245px; height:20px; float:left;  line-height:20px; color:#d5d4d4; font-size:14px; margin-left:10px; display:inline;}
.ko_c10{width:245px; height:80px; float:left;  line-height:25px; color:#827f7e; font-size:12px; margin-left:10px; display:inline;}

.ko_c11{width:340px; height:80px; float:left;  margin-top:15px; overflow:hidden;}
.ko_c12{width:80px; height:80px; float:left;  }
.ko_c13{width:245px; height:20px; float:left;  line-height:20px; color:#d5d4d4; font-size:14px; margin-left:10px; display:inline;}
.ko_c14{width:245px; height:80px; float:left;  line-height:25px; color:#827f7e; font-size:12px; margin-left:10px; display:inline;}







.main_l{width:1200px; height:90px; float:left; margin-top:30px; overflow:hidden; }









