*{ font-family:"微软雅黑";}
.ls{width:1200px; overflow:hidden; margin:0 auto;}
.ls_left{width:900px;overflow:hidden;float:left;padding-top:30px;}
.ls_right{width:280px;margin-left:20px;float:left}
.ls_left_a{ color:#ABAAA9;font-size:24px; text-align:center;line-height:35px;}
.ls_left_b{ color:#ABAAA9;font-size:14px; text-align:center;line-height:35px;}
.hr{height:1px;width:inherit;margin-top:10px; background:#43403D;}
.ls_left_c{color:#9B9998;font-size:14px;line-height:24px;padding:10px;}
.ls_right_arg{ height:280px; height:400px;}
.ls_right_a{ color:#DA975D;font-size:18px;line-height:40px; text-align:center;}
/*详情页*/

.fam{width:1200px; overflow:hidden; margin:0 auto;}
.fam_lt{width:250px; float:left;padding-top:40px; border:1px solid #43403E;}.fam_rg{width:915px; float:left;padding-top:30px;margin-left:30px;}
.fam_lt_a{width:180px;margin:0 auto;height:250px;}
.fam_lt_a1{width:180px;height:180px;}.fam_lt_a1 img{width:180px;height:180px;}
.fam_lt_a2{ color:#ACAAA8; font-size:16px;line-height:40px;}
.fam_lt_a3{ color:#ACAAA8;font-size:14px;line-height:35px;}.fam_lt_a3 span{ color:#966B47;}
.fam_lt_a4{ color:#ACAAA8;font-size:14px;line-height:35px;}.fam_lt_a4 span{ color:#966B47;}
.fam_lt_b{width:250px;margin:0 auto;}.fam_lt_b li{ line-height:50px;height:50px;width:220px;padding-left:30px;border-top:1px solid #43403E;}
.fam_lt_b li a{ color:#FFF;}.fam_lt_b li:hover{ background:#DA975D;}.fam_lt_b li img{ margin-right:12px;}
.fam_rg_a{width:945px;height:40px;border-bottom:1px solid #565351;}
.fam_rg_a li{ float:left;width:130px; text-align:center;cursor:pointer; color:#DA975D;font-size:18px;height:40px;line-height:40px;}
.selected{ background:#DA975D;color:#fff;}.hide{ display:none;}
.ts{width:915px;height:500px; color:#FFF;}
.xin{height:40px; line-height:40px;width:950px;margin-top:20px;}.xin_va{float:left;width:100px;padding-left:30px; color:#DDDDDD;font-size:18px; text-align:right;;}
.xin_vb{height:20px;border-bottom:1px dashed #565351;float:left;width:670px;margin-left:5px;margin-right:5px;}
.xin_vc{float:left;width:100px; color:#C58956;font-size:14px;width:70px;height:30px;line-height:30px;border:1px solid #565351;border-radius:10px; text-align:center;}
.or_va{ color:#ABAAA9;font-size:18px;float:left; text-align:right;width:130px;}.or{width:950px;height:40px;line-height:40px;}
.o_vb{height:20px;border-bottom:1px dashed #565351;float:left;width:670px;margin-left:5px;margin-right:5px;}
.sure{ width:130px;height:40px;line-height:40px;}.sub{ color:#fff;font-size:14px; background:#DA975D; border:1px solid #DA975D; border-radius:5px;width:130px;height:40px;}
.bd{width:880px;height:30px;marign:5px 0px;}.bd1{width:70px;height:30px;line-height:30px;float:left; text-align:justify;color:#ABAAA9;}
.bd2{width:600px; overflow:hidden;float:left; color:#ACAAA8;}
/*个人中心*/
.med{width:915px;height:140px;border-top:1px solid #DA975D;border-bottom:1px solid #44403C;border-right:1px solid #44403C;border-left:1px solid #44403C;}
.med_va{width:190px;border-right:1px solid #44403C;height:110px;padding-top:30px;float:left;}
.med_va_a{color:#A4A1A0;font-size:14px; text-align:center;width:190px;line-height:30px;}
.med_va_b{color:#DA975D;font-size:36px; text-align:center;width:190px;font-size:40px;}
.med_vb{width:190px;border-right:1px solid #44403C;height:110px;padding-top:30px;float:left;}
.med_vb_a{color:#A4A1A0;font-size:14px; text-align:center;width:190px;line-height:30px;}
.med_vb_b{color:#A4A1A0;font-size:36px; text-align:center;width:190px;font-size:40px;}
.med_vc{width:530px;height:140px;float:left;}
.med_vc_a{height:70px;width:566px;text-align:center;color:#ACAAA8;font-size:14px; padding-left:20px; border-bottom:1px solid #44403C;}
.med_vc_oa{ width:130px;float:left;height:40px;line-height:40px;border:1px solid #44403C;border-radius:5px;margin-top:14px;}
.med_vc_ob{ width:130px;float:left;height:40px;line-height:40px;border:1px solid #44403C;border-radius:5px;margin-top:14px;margin-left:30px;}
.med_vc_b{height:60px;width:510px;padding:5px 10px; color:#ACAAA8;font-size:14px;}
.tea{width:915px;overflow:hidden;margin-top:30px;}
.tea_va{width:915px;height:30px;line-height:30px;font-size:18px; color:#DA975D;}
.tea_vb{width:913px;margin-top:5px;border:1px solid #44403C;}
.tea_vb_a{width:895px;height:30px;line-height:30px;font-size:14px;padding-left:20px;}
.tea_vb_a1{width:10px;height:10px;float:left;margin-top:13px;}
.tea_vb_a2{width:150px;float:left; color:#ABAAA9;}
.tea_vb_a3{width:580px;float:left; color:#827F7D;}
.tea_vb_a4{width:150px;float:left;color:#ABAAA9;}.tea_vb_a4 span{color:#956B47;}
.date{margin-top:40px;width:915px;}
.date_va{width:915px;height:40px; line-height:40px;}
.date_va li{ width:110px;float:left; color:#fff;border-top:1px solid #43403E; border-left:1px solid #43403E; border-right:1px solid #43403E;text-align:center;font-size:14px;}
.datehover{ background:#DA975D;}
.date_vb{width:915px; border:1px solid #43403E;}
.date_vb_a{height:30px;line-height:30px; background:#3a3531;width:915px;}.date_vb_a div{float:left; }
.date_vb_a1{width:250px;padding-left:20px;}.date_vb_a2{width:180px;}.date_vb_a3{width:300px;}
.date_vb_b{width:915px;overflow:hidden;padding:10px 15px;}.date_vb_b div{float:left; }
.date_vb_b1{width:250px;}.date_vb_b2{width:180px;}.date_vb_b3{width:400px;}
/*积分*/
.pt{width:915px;overflow:hidden; border-bottom:1px solid #43403D;padding-bottom:5px;}
.pt_wa{width:26px;height:30px;float:left;}
.pt_wb{width:150px; color:#DA975D; font-size:18px;height:30px;line-height:30px;float:left;margin-left:5px; letter-spacing:1.2px;}
.pt_wc{width:630px;height:30px;float:left; text-align:right;}.pt_wc a{color:#ABAAA9;font-size:14px; line-height:30px;}
.pt_wd{width:100px;height:30px;float:left;}.pt_wd a{color:#ABAAA9;font-size:14px; text-align:left;line-height:30px;}
.pdd{width:915px;overflow:hidden; color:#ABAAA9;}
.pdd_va{width:915px;height:40px;line-height:40px;font-size:16px;border-bottom:1px solid #43403D;margin-top:10px;}
.pdd_va div{height:40px;float:left;}.pdd_va_ia{width:480px;}.pdd_va_ib{width:170px;}.pdd_va_ic{width:170px;}.pdd_va_id{width:85px}
.pdd_vb{width:915px;border-bottom:1px dashed #43403E;height:50px;line-height:50px;}
.pdd_vb_ia{width:480px;float:left}
.pdd_vb_ia1{width:15px;height:13px;float:left;margin-top:17px;}.pdd_vb_ia2{width:450px;height:50px;float:left;padding-left:10px;}
.pdd_vb_ib{width:170px;float:left;height:50px;}
.pdd_vb_ib1{height:20px;line-height:20px;font-size:12px;margin-top:5px;color:#FFF;}
.pdd_vb_ib2{height:20px;line-height:20px;font-size:12px;}
.pdd_vb_ic{width:170px;float:left;height:50px;float:left}
.pdd_vb_ic1{height:20px;line-height:20px;font-size:12px;margin-top:5px;}
.pdd_vb_ic2{height:20px;line-height:20px;font-size:12px;}
.pdd_vb_id{width:85px;height:50px;line-height:50px; float:left;}
/*泡坛*/

.snake{width:915px;overflow:hidden;}
.sn_wa{width:915px;height:210px;border-top:1px solid #8F6C4E;border-bottom:1px solid #43403E;border-left:1px solid #43403E;border-right:1px solid #43403E;margin-top:20px;}
.sn_wa_a{width:186px;height:186px;float:left;}.sn_wa_a img{width:166px;height:166px;margin-top:20px;margin-left:20px;}
.sn_wa_b{margin-left:20px;width:705px;height:210px;float:left;}
.sn_wa_b1{height:40px;line-height:40px;color:#DA975D;font-size:18px;margin-top:5px;}.sn_wa_b1 span{ color:#827F7D;font-size:14px;marign-left:5px;}
.sn_wa_b2{width:670px;height:80px;padding:5px; color:#ACAAA8;}
.sn_wa_b3{width:100px;height:35px;text-align:center;} .sn_wa_b3 a{ display:block; background:#DA975D; line-height:35px; color:#FFF; letter-spacing:1.4px; border:1px solid #DA975D; border-radius:5px;}
.sn_wa_b4{ widht:670px;height:38px;}
.sn_wa_b4c{width:162px;height:38px;float:right;line-height:38px; text-align:center; background:url(../images/shal4.png); color:#FFF;}
/*沙龙*/
/*摄影*/
.photo{width:915px;overflow:hidden;margin-top:20px;}.photo_wa{width:290px; overflow:hidden;float:left;}
.pot_wa{width:290px;height:290px;}.pot_wa img{width:290px;height:290px;}
.pot_wb{ color:#D5D4D4;font-size:14px;height:40px;line-height:40px;width:290px;}
.pot_wc{width:290px;height:30px;}.pot_wc div{float:left;}
.pot_wc_a{width:90px;float:left;color:#9B9998;line-height:30px;}
.pot_wc_b{float:left;width:60px;}.pot_wc_c{float:left;width:60px;}.pot_wc_d{float:left;width:60px;}
.pot_wc_b1,.pot_wc_c1,.pot_wc_d1{margin-top:10px;}
.pot_wc_b2,.pot_wc_c2,.pot_wc_d2{line-height:30px;margin-left:5px; color:#ABAAA9; font-size:12px;}
.photo .wb{margin-left:20px;}
/*我的线路*/
.lgd{width:915px;height:40px; border-bottom:1px solid #43403E;}.lgd div{float:left;height:40px;line-height:40px; color:#ABAAA9; text-align:center;font-weight:bold;}
.goodv{ width:500px;}.tbq{ width:135px;}.imp{ width:135px;}.pyl{width:135px;}
.many{width:913px;overflow:hidden; border:1px solid #44403C;margin-top:20px;}
.many_wa{width:913px;height:30px;line-height:30px; background:#3A3531; color:#B0AEAD;font-size:12px;}
.many_wa div{float:left;}.many_wa_a{width:680px;padding-left:15px;}.many_wa_b{width:215px;}
.many_wb_a{width:500px;height:100px; border-right:1px solid #44403C;float:left;}.many_wb_a1{width:100px;height:100px;float:left;}
.many_wb_a1 img{width:60px;height:60px;margin-left:20px;margin-top:15px;}
.many_wb_a2{float:left;width:380px;margin-left:20px;height:100px;}
.many_wb_b{width:134px;height:100px;border-right:1px solid #43403E; text-align:center;float:left;font-size:14px; }
.many_wb_b1{height:30px;line-height:30px; color:#DA975D;margin-top:20px;}
.many_wb_b2{height:30px;line-height:30px; color:#B5B4B4;}
.many_wb_c{width:134px;height:100px;border-right:1px solid #43403E; text-align:center;float:left;font-size:14px; }
.many_wb_c1{height:30px;line-height:30px; color:#DA975D;margin-top:20px;}
.many_wb_c2{height:30px;line-height:30px; color:#B5B4B4;}
.many_wb_d{width:134px;height:100px; text-align:center;float:left;font-size:14px; }
.many_wb_d1{height:30px;line-height:30px; color:#B5B4B4;margin-top:20px;}
.many_wb_d2{height:30px;line-height:30px; color:#B5B4B4;}
.many_wb_va{height:60px;padding:5px;width:370px;color:#D5D4D4;}
.many_wb_vb{height:30px;line-height:30px; color:#827F7D;}
/*学习园地*/
.learn{width:915px;overflow:hidden;}
.lear{width:915px;height:120px;margin-top:20px; border-bottom:1px dashed #43403E;padding-bottom:10px;}
.lear_va{width:120px;height:120px;float:left;}.lear_va img{width:100px;height:100px;margin-top:10px;margin-left:20px;}
.lear_vb{width:775px;height:110px;margin-left:20px;margin-top:10px;float:left;}
.lear_vb_a{color:#DA975D;font-size:16px;height:30px;line-heigth:30px;}
.lear_vb_b{width:775px;height:80px;color:#ABAAA9;}