<!--<?php
print <<<EOT
-->
<menu class="ListMenu FootMenu showhidden">
	<ul>
    	$listmenu
    </ul>
</menu>
<footer>
	<a href="$webdb[www_url]">PC°æ</a>
    <p>Copyright@{$webdb[www_url]} all rights reserved</p>
	<div class="ShowMenu"></div>    
</footer>
<script>
$(function() {
	$("header .ShowMenu").click(function(){
		$(".TopMenu").toggleClass('showhidden');
	});
	$("footer .ShowMenu").click(function(){
		$(".FootMenu").toggleClass('showhidden');
		setTimeout(function() {
			document.body.scrollTop = document.body.clientHeight;
		}, 50);
	});	
	$("header .ShowSearch").click(function(){
		$(".TopSearch").toggleClass('showhidden');
	});
});

</script>
</body>
</html>
<!--
EOT;
?>
-->