<!--
<?php
print <<<EOT
-->
<div class="ListMoreSort">
	<div class="cont">
<!--
EOT;
foreach($listdb AS $key=>$rs){
$rs[showimg]=$rs[ispic]?"<img src=\"$rs[picurl]\" width='100' height='75'  onerror=\"this.src='$webdb[www_url]/images/default/nopic.jpg'\"/>":"";
print <<<EOT
-->
		<div class="List"><a href="$rs[urls]"><h3>$rs[title]</h3>{$rs[showimg]}<p>$rs[content]</p></a></div>
<!--
EOT;
}
print <<<EOT
-->
    </div>
    <a href="javascript:;showMoreCont()" class="ShowMore">查看更多</a>
</div>
<script>
var pages=1;
var rows=$rows;
function showMoreCont(){
	$(".ShowMore").html("内容加载中……");
	pages++;
	$.get('search.php?job=show&keyword=$keyword&page='+pages+'&'+Math.random(),function(d){
		if(d=="nodate"){
			$(".ShowMore").hide();
		}else{
			$(".ListMoreSort .cont").append(d);
			$(".ShowMore").html("查看更多");
			countlist();
		}
	});

}
function countlist(){
	if($(".ListMoreSort .cont div").length%rows!=0){
		$(".ShowMore").hide();
	}
}
countlist();
</script>
<!--
EOT;
?>
-->
