<!--
<?php
print <<<EOT
-->
<script>
	$(function(){
		$('.prod_left>ul>li>a').click(function(){
			$(this).siblings().slideDown().parent().siblings().find('ul').slideUp();
		})
		$('.def').click(function(){
			$('html,body').animate({scrollTop:$('.pro_def').offset().top},500)
		});
		$('.pic').click(function(){
			$('html,body').animate({scrollTop:$('.pic_show').offset().top},500)
		});
		$('.rule').click(function(){
			$('html,body').animate({scrollTop:$('.pro_rule').offset().top},500)
		});

	})
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "hm.js-7f308bffbaa3fd414333a99baed6cb9e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>	<!-- 双色背景 end -->
	<div class="width_1000" style="overflow: hidden;clear:both">
		<div class="prod_left">
			<ul> 
<!--
EOT;
$sql="select * from qb_sort where fup=42";
$res=@mysql_query($sql);
while($row=mysql_fetch_array($res))
{if($fid==$row[fid]){$a=" ";}else{ $a= "slideup";}
print <<<EOT
-->
		<li>
        	<a>$row[name] </a>
			<ul class="$a">
<!--
EOT;
$sqlt="select * from qb_article where fid=$row[fid] order by list desc";
$result=@mysql_query($sqlt);
while($rowt=mysql_fetch_array($result)){
if($id==$rowt[aid]){$b=hover;}else{$b=" ";}
print <<<EOT
-->
            	<li><a class="$b" href="bencandy.php?fid=$row[fid]&id=$rowt[aid]">$rowt[title]</a></li>
<!--
EOT;
}
print <<<EOT
-->
            </ul>
        </li>
<!--
EOT;
}
print <<<EOT
-->				 
				
			</ul>
		</div>
        
<style>
div{ color:#000}
</style>        

		<div class="prod_right">
			<h2 style="background: url($rsdb[picurl]) no-repeat -5px 30px/170px 170px"> $rsdb[title]</h2>
			<p class="prod_right_540">$rsdb[my_540]</p>
			<ul style="margin-top: 30px;">
				<li><a class="def">产品特点</a></li>
				<li><a class="pic">图片展示</a></li>
				<li><a class="rule">产品规格</a></li>
   			</ul>

			<div class="pro_def">
				<h3>产品特点</h3>
				<div>
					<p>$rsdb[my_561]
	
<p>
	<br />
</p>				</div>
				<h3 class="pic_show">图片展示</h3>
				<div class="photo">
					<a href="javascript:;" class="prev"></a>
					<ul class="photo_ul">
												<li>
							<a><img src="$rsdb[my_398]"  width="100" height="100"/>
							<p>$rsdb[my_159]</p></a>
						</li>
												<li>
							<a><img src="$rsdb[my_546]"  width="100" height="100"/>
							<p>$rsdb[my_811]</p></a>
						</li>
												<li>
							<a><img src="$rsdb[my_634]"  width="100" height="100"/>
							<p>$rsdb[my_882]</p></a>
						</li>
											</ul>
					<a href="javascript:;" class="next"></a>
				</div>
				<h3 class="pro_rule">产品规格</h3>
				<div>$rsdb[content]</div>
			</div>

		</div>
	</div>
	<script type="text/javascript">
		//mengceng
		$(".img_div").hover(function(){
			$(this).find(".mj_mc").show();
		},function(){
			$(this).find(".mj_mc").hide();
		})



		// xiala
		$(".Li_xiala").hover(function(){
			$(this).find(".nav_xiala").show();
		},function(){
			$(this).find(".nav_xiala").hide();
		})
	</script>

    
    

    
    
<!--
EOT;
?>
-->
