<!--
<?php
print <<<EOT
-->
<!-------------------------------------------------------中部开始----------------------------------------->


<!--特效一和二用到的css js开始-->
<link rel="stylesheet" type="text/css" href="css/style_js.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/lanrenzhijia.css">
<script type="text/javascript" src="js/jquery-1.3.1.js"></script>
<script type="text/javascript">
			$(document).ready(function(){
				$('.boxgrid.slidedown').hover(function(){
					$(".cover", this).stop().animate({top:'-180px'},{queue:false,duration:300});
				}, function() {/*代码整理：www.97zzw.com - 97站长网*/
					$(".cover", this).stop().animate({top:'0px'},{queue:false,duration:300});
				});
			});
		</script>
<!--特效一和二用到的css js结束-->		
		
	
<!--左侧折叠菜单需要用到的css开始-->	
<style>

.center{width:100%;height:auto;border:0px solid black;float:left;margin:0 auto;position:relative;}
.bj{width:1100px;height:850px;border:0px solid green;margin:0 auto;margin-top:20px;}
.bj_left{width:200px;height:auto;border:0px solid red;float:left;margin:0px auto 0 30px;}
#bj_right{border:1px solid #CCCCCC;margin:60px auto 0 30px;font:16px "微软雅黑";width:800px;height:auto;float:left;border-radius:15px;}
*,body,ul,h1,h2{ margin:0; padding:0; list-style:none;}
body{font:12px "宋体"; padding-top:20px;}
a{ color:#777;border:none;}
#menu { width:200px; margin:60px auto 0 0px;border:0px solid black;}
#menu h1 { font-size:15px; border:#C60 1px solid;border-radius:10px; margin-top:5px;width:190px;text-indent:0px;background-color:#D2D2D2;border:1px solid black;font:20px "微软雅黑";font-weight:bold;}
#menu a:hover{ color:#8D8D8D; background:#FFFFFF;border-radius:10px;}

 #menu h2 { font-size:12px; border:#E7E7E7 1px solid; border-top-color:#FFF;width:190px; background-color:#F4F4F4;text-indent:0px;}
 #menu ul { padding-left:15px; height:100px;border:#E7E7E7 1px solid; border-top:none;}
 #menu a { display:block; padding:5px 0 3px 10px; text-decoration:none;}

 #menu .no {display:none;line-height:10px;}
 #menu .h1 a{color:#424242;text-decoration:none;width:180px;height: 32px;}
 #menu .h2 a{color:#676767;text-decoration:none;width:180px;height: 32px;;}
  .ditu{width:200px;height:526px;border:0px solid black;margin-top:5px;}
</style>
<!--左侧折叠菜单需要用到的css结束-->



<script language="JavaScript">
<!--//
function ShowMenu(obj,n){
 var Nav = obj.parentNode;
 if(!Nav.id){
  var BName = Nav.getElementsByTagName("ul");
  var HName = Nav.getElementsByTagName("h2");
  var t = 2;
 }else{
  var BName = document.getElementById(Nav.id).getElementsByTagName("span");
  var HName = document.getElementById(Nav.id).getElementsByTagName("h1");
  var t = 1;
 }
 for(var i=0; i<HName.length;i++){
  HName[i].innerHTML = HName[i].innerHTML.replace("-","+");
  HName[i].className = "";
 }
 obj.className = "h" + t;
 for(var i=0; i<BName.length; i++){if(i!=n){BName[i].className = "no";}}
 if(BName[n].className == "no"){
  BName[n].className = "";
  obj.innerHTML = obj.innerHTML.replace("+","-");
 }else{
  BName[n].className = "no";
  obj.className = "";
  obj.innerHTML = obj.innerHTML.replace("-","+");
 }
}
//-->
</script>
<div style="clear:both;"></div>
<div class="guntu" style="width:100%;height:200px;border:0px solid red;float:left;margin:0 auto;">
	
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>$label[list_top_ad]
	
	
	
	</td>
  </tr>
</table>	
	
	</div>
	<div class="center">
	<div class="bj">
	<div class="bj_left">
	<div style="border:0px solid red;float:left;width:200px;height:40px;"><img src="images/panhu/222.png" width="200px" height="40px"></div>
	<div id="menu">
	<h1 onClick="javascript:ShowMenu(this,0)"><a href="javascript:void(0)">美的空调</a></a></h1>
 <span class="no">
  <h2 onClick="javascript:ShowMenu(this,0)"><a href="$webdb[www_url]/list.php?fid=59">美的商用中央空调</a></h2>
  
  <h2 onClick="javascript:ShowMenu(this,1)"><a href="$webdb[www_url]/list.php?fid=60">美的家用中央空调</a></h2>
  
  

 
 </span>
        
 <h1 onClick="javascript:ShowMenu(this,1)"><a href="javascript:void(0)">格力空调</a></h1>
 <span class="menu" style="border:0px solid green;width:180px;height:auto;">
  <h2 onClick="javascript:ShowMenu(this,2)"><a href="$webdb[www_url]/list.php?fid=64">格力商用中央空调</a></h2>

  <h2 onClick="javascript:ShowMenu(this,3)"><a href="$webdb[www_url]/list.php?fid=63">格力家用中央空调</a></h2>
  
 </span>
    
 <h1 onClick="javascript:ShowMenu(this,2)"><a href="javascript:void(0)">海尔空调</a></h1>
 <span class="no"  style="border:0px solid green;width:180px;height:auto;">
  <h2 onClick="javascript:ShowMenu(this,0)"><a href="$webdb[www_url]/list.php?fid=65">海尔商用中央空调</a></h2>
 
  <h2 onClick="javascript:ShowMenu(this,1)"><a href="$webdb[www_url]/list.php?fid=66">海尔家用中央空调</a></h2>
 
 </span>
    
 <h1 onClick="javascript:ShowMenu(this,3)"><a href="javascript:void(0)">大金空调</a></h1>
 <span class="no"  style="border:0px solid green;width:180px;height:auto;">
  <h2 onClick="javascript:ShowMenu(this,0)"><a href="$webdb[www_url]/list.php?fid=67">大金商用中央空调</a></h2>
  
  <h2 onClick="javascript:ShowMenu(this,1)"><a href="$webdb[www_url]/list.php?fid=68">大金家用中央空调</a></h2>
  
 </span>
 <h1 onClick="javascript:ShowMenu(this,4)"><a href="javascript:void(0)">日立空调</a></h1>
 <span class="no"  style="border:1px solid green;width:180px;height:auto;">
  <h2 onClick="javascript:ShowMenu(this,0)"><a href="$webdb[www_url]/list.php?fid=69">日立商用中央空调</a></h2>
  
  <h2 onClick="javascript:ShowMenu(this,1)"><a href="$webdb[www_url]/list.php?fid=70">日立家用中央空调</a></h2>
 <br/>
 
 
 </span>
 
	</div>
	<div class="ditu"><img src="images/panhu/ditu.jpg" width="200px" height="526px"></div>
	</div>
	<div id="bj_right">
	<div id="con_right1" style="text-align:right;"><!--产品展示-->您的位置：&nbsp;<a href="">攀虎首页</a>$GuideFid[$fid]</div>  
			 <div id="con_right2_chanpin" >
			 
			 <!--$label[345]-->
			 <!--include
EOT;
//小栏目的标题
if($listdb){@include("$listTPL");}print<<<EOT
include-->
		
<!--特效一开始-->

<script src="http://localhost/v73/do/js.php?id=746"></script>	
<!--特效一结束-->	
<!--特效二开始-->
<style>
.main_h6{width:1200px;height:570px;}
.main_h6 li{ position:relative; }
.main_h6 li a{width:190px;height:190px;}
.res{ display:none; position:absolute; top:0px; width:170px;height:190px; background:#da975d; z-index:2;padding-left:20px; color:#fff;}
.main_h6 li:hover .res{ display:block; }
.res_ia{ width:170px;height:30px;margin-top:20px;line-height:30px;}
.res_ib{ width:170px;height:30px;line-height:30px;font-size:14px;}
.res_ic{width:120px; text-align:right;margin-right:20px;float:right;margin-top:30px;}
.res_id{ width:130px;height:1px; background:#DEA26E;}
</style>

           <div class="main_h">
                <div class="main_h1">
                       <div class="main_h2"></div>
                       <div class="main_h3">大师擂台</div>
                       <div class="main_h4"><a href="{$webdb[www_url]}/list.php?fid=46">更多 +</a></div>
                </div>
                <div class="main_h5"></div>
                <div class="main_h6">
             <script src="http://localhost/v73/do/js.php?id=747"></script>
				</div>
                
           </div>
<!--特效二结束-->
			 <div  class="page" style="text-align:center; font-size:16px;line-height:50px;font-weight:bold;">$showpage</div>
			 </div>
			 
		
	
	
	</div>
	</div>
	</div>




 

<!------------------------------------------中部结束------------------------------------------------------------->



<!--
EOT;
?>
-->