<!--
<?php
print <<<EOT
-->
<!-------------------------------------------------------中部开始----------------------------------------->

<div style="clear:both;"></div>
<div align="center">
	<div style="width:1098px; height:859px; background:url(images/panhu/yryr.jpg); ">
		<div style="width:338px; height:253px;  float:left; margin-left:40px; margin-top:80px;"><img src="images/panhu/q1.jpg" /></div>
		<div style="float:left;width:400px; height:260px; margin-left:40px;font-weight:600; margin-top:80px;">
			<div style="width:300px; height:50px; border-left:5px solid #007ec1; float:left;">
				<div style="text-align:left; margin-left:5px; font-size:20px; font-weight:600;">profression</div>
				<div style="text-align:left; margin-left:5px; font-size:20px; font-weight:600;color:#007ec1;">我们更专业</div>
			</div>
			<div style="width:350px; height:20px; text-align:left; margin-top:10px; font-size:14px;float:left;">
			<img src="images/panhu/jiantou.jpg" /> 我们有专业的设计、安装、维修、保养团队</div>
			<div style="width:350px; height:20px; text-align:left; margin-top:10px;font-size:14px; float:left;">
			<img src="images/panhu/jiantou.jpg" /> 我们有专业售前、售中、售后服务团队</div>
		
			<div style="width:300px; height:50px; margin-top:10px; border-left:5px solid #007ec1; float:left;">
				<div style="text-align:left; margin-left:5px; font-size:20px; font-weight:600;">Experience</div>
				<div style="text-align:left; margin-left:5px; font-size:20px; font-weight:600;color:#007ec1;">我们有丰富的经验</div>
			</div>
			<div style="width:350px; height:20px; text-align:left; margin-top:10px;font-size:14px; float:left;">
			<img src="images/panhu/jiantou.jpg" /> 十年行业经验，厚积方能薄发</div>
			<div style="width:350px; height:20px; text-align:left; margin-top:10px;font-size:14px; float:left;">
			<img src="images/panhu/jiantou.jpg" /> 我们有不同行业、不同层次需求的解决方案</div>
		</div>
		<div style="clear:both;"></div>
		<div style="float:left;width:400px; height:450px; font-weight:600; margin-left:40px; margin-top:20px;">
			<div style="width:300px; height:50px; border-left:5px solid #007ec1; float:left;">
				<div style="text-align:left; margin-left:5px; font-size:24px; font-weight:600;">Brand</div>
				<div style="text-align:left; margin-left:5px; font-size:24px; font-weight:600; color:#007ec1;">品牌代理商</div>
			</div>
			<div style="width:400px; height:20px; text-align:left; margin-top:20px; font-size:14px; float:left;">
			<img src="images/panhu/jiantou.jpg" /> 我们是美的、格力、大金等知名品牌空调的指定代理商</div>
			<div style="width:400px; height:20px; text-align:left; font-size:14px; margin-top:10px; float:left;">
			<img src="images/panhu/jiantou.jpg" /> 我们是大金、海尔、美的、格力空调的指定售后服务商</div>
			<div style="width:300px; height:50px; margin-top:10px; border-left:5px solid #007ec1; float:left;">
				<div style="text-align:left; margin-left:5px; font-size:24px; font-weight:600;">Qualification</div>
				<div style="text-align:left; margin-left:5px; font-size:24px; font-weight:600;color:#007ec1;">资源过硬</div>
			</div>
			<div style="width:350px; height:20px; text-align:left; margin-top:20px;font-size:14px; font-weight:600; float:left;">
			<img src="images/panhu/jiantou.jpg" /> 我们是上海冷冻空调行业协会会员单位</div>
			<div style="width:350px; height:20px; text-align:left;font-weight:600; margin-top:10px; font-size:14px;float:left;">
			<img src="images/panhu/jiantou.jpg" /> 我们是上海安装行业协会会员单位</div>
			<div style="width:300px; height:50px; margin-top:10px; border-left:5px solid #007ec1; float:left;">
				<div style="text-align:left; margin-left:5px; font-size:24px; font-weight:600;">Comfortable</div>
				<div style="text-align:left; margin-left:5px; font-size:24px; font-weight:600;color:#007ec1;">舒适家居集成专家</div>
			</div>
			<div style="width:350px; height:20px; text-align:left;font-weight:600; margin-top:20px;font-size:14px; float:left;">
			<img src="images/panhu/jiantou.jpg" /> 空调解决方案</div>
			<div style="width:350px; height:20px; text-align:left;font-weight:600; margin-top:10px;font-size:14px; float:left;">
			<img src="images/panhu/jiantou.jpg" /> 地暖解决方案</div>
			<div style="width:350px; height:20px; text-align:left;font-weight:600; margin-top:10px;font-size:14px; float:left;">
			<img src="images/panhu/jiantou.jpg" />中央热水解决方案</div>
		</div>
		<div style="float:left; margin-left:20px; margin-top:20px;"><img src="images/panhu/youtu.jpg" /></div>
	</div>	
</div>
<!------------------------------------------中部结束------------------------------------------------------------->



<!--
EOT;
?>
-->