
<body oncontextmenu=self.event.returnValue=false onselectstart="return false">
<link rel="stylesheet" type="text/css" href="yu-css/thems.css">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "hm.js-7f308bffbaa3fd414333a99baed6cb9e"/*tpa=https://hm.baidu.com/hm.js?7f308bffbaa3fd414333a99baed6cb9e*/;
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>	<!-- 双色背景 end -->
	<div class="width_1000" style="overflow: hidden;clear:both">
		<div class="prod_left">
			<ul> 
				 
				
				<li>
					<a>门禁系统</a>
					<ul class="">
					
											<li><a class="hover" href="index.php-c=content&a=show&id=7.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=7">DF61系列</a></li>
											<li><a  href="index.php-c=content&a=show&id=8.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=8">DF62系列</a></li>
											<li><a  href="index.php-c=content&a=show&id=11.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=11">“云石”控制器</a></li>
											<li><a  href="index.php-c=content&a=show&id=10.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=10">“磐石”控制器</a></li>
											<li><a  href="index.php-c=content&a=show&id=12.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=12">“云控”控制器</a></li>
											<li><a  href="index.php-c=content&a=show&id=13.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=13">电梯控制器</a></li>
										</ul>
				</li>
				 
				
				<li>
					<a>电子门锁</a>
					<ul class="slideup">
					
											<li><a  href="index.php-c=content&a=show&id=153.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=153">TF-JDS8003</a></li>
											<li><a  href="index.php-c=content&a=show&id=105.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=105">TF-JDS8008</a></li>
											<li><a  href="index.php-c=content&a=show&id=14.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=14">TF-JDS8001</a></li>
											<li><a  href="index.php-c=content&a=show&id=22.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=22">TF-JDS8005</a></li>
											<li><a  href="index.php-c=content&a=show&id=23.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=23">TF-JDS8009</a></li>
											<li><a  href="index.php-c=content&a=show&id=24.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=24">TF-JDS8012</a></li>
											<li><a  href="index.php-c=content&a=show&id=25.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=25">TF-JDS8801</a></li>
										</ul>
				</li>
				 
				
				<li>
					<a>速通门系统</a>
					<ul class="slideup">
					
											<li><a  href="index.php-c=content&a=show&id=32.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=32">TF-DF200S</a></li>
											<li><a  href="index.php-c=content&a=show&id=33.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=33">TF-DF300S</a></li>
											<li><a  href="index.php-c=content&a=show&id=60.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=60">TF-DF400S</a></li>
											<li><a  href="index.php-c=content&a=show&id=34.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=34">TF-DF500S</a></li>
											<li><a  href="index.php-c=content&a=show&id=61.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=61">TF-DF400R</a></li>
											<li><a  href="index.php-c=content&a=show&id=35.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=35">TF-DF100T</a></li>
										</ul>
				</li>
				 
				
				<li>
					<a>人证合一核验</a>
					<ul class="slideup">
					
											<li><a  href="index.php-c=content&a=show&id=16.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=16">TF-VD7008人证合一核验终端</a></li>
											<li><a  href="index.php-c=content&a=show&id=28.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=28">TF-VD7007人证合一核验终端</a></li>
											<li><a  href="index.php-c=content&a=show&id=29.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=29">TF-VD7006人证合一核验终端</a></li>
											<li><a  href="index.php-c=content&a=show&id=30.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=30">TF-VD7005人证合一核验终端</a></li>
											<li><a  href="index.php-c=content&a=show&id=31.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=31">TF-VD7003人证合一核验通道</a></li>
											<li><a  href="index.php-c=content&a=show&id=173.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=173">TF-VD7001人证合一核验平台</a></li>
											<li><a  href="index.php-c=content&a=show&id=174.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=174">TF-VD7002人脸识别管理系统</a></li>
										</ul>
				</li>
				 
				
				<li>
					<a>一卡通应用</a>
					<ul class="slideup">
					
											<li><a  href="index.php-c=content&a=show&id=17.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=17">平台系统</a></li>
											<li><a  href="index.php-c=content&a=show&id=63.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=63">门禁管理系统</a></li>
											<li><a  href="index.php-c=content&a=show&id=64.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=64">消费管理系统</a></li>
											<li><a  href="index.php-c=content&a=show&id=20.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=20">考勤管理系统</a></li>
											<li><a  href="index.php-c=content&a=show&id=70.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=70">访客管理系统</a></li>
											<li><a  href="index.php-c=content&a=show&id=21.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=21">会议管理系统</a></li>
											<li><a  href="index.php-c=content&a=show&id=18.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=18">梯控管理系统</a></li>
											<li><a  href="index.php-c=content&a=show&id=65.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=65">停车管理系统</a></li>
											<li><a  href="index.php-c=content&a=show&id=66.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=66">班车管理系统</a></li>
											<li><a  href="index.php-c=content&a=show&id=19.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=19">水控管理系统</a></li>
											<li><a  href="index.php-c=content&a=show&id=71.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=71">自助服务系统</a></li>
											<li><a  href="index.php-c=content&a=show&id=72.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=72">Web查询系统</a></li>
										</ul>
				</li>
				 
				
				<li>
					<a>射频识别产品</a>
					<ul class="slideup">
					
											<li><a  href="index.php-c=content&a=show&id=56.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=56">TF-RF2061读卡器</a></li>
											<li><a  href="index.php-c=content&a=show&id=54.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=54">TF-RF3160读卡器</a></li>
											<li><a  href="index.php-c=content&a=show&id=55.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=55">TF-RF3000读卡器</a></li>
											<li><a  href="index.php-c=content&a=show&id=57.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=57">充电桩模块</a></li>
											<li><a  href="index.php-c=content&a=show&id=58.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=58">高铁模块</a></li>
											<li><a  href="index.php-c=content&a=show&id=52.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=52">双界面CPU卡</a></li>
											<li><a  href="index.php-c=content&a=show&id=53.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=show&id=53">非接CPU卡</a></li>
										</ul>
				</li>
								

			</ul>
		</div>
		<div class="prod_right">
			<h2 style="background: url(27.png)/*tpa=http://www.thtfria.com.cn/uploadfiles/image/201604/27.png*/ no-repeat -5px 30px/170px 170px">DF61系列</h2>
			<p>同方锐安DF61系列安全门禁产品是秉承清华同方高品质和高科技的风格，研制开发的新一代非接触式智能门禁读卡器。采用国产专用芯片，支持CPU卡、国密CPU卡和M1卡。具有性能稳定、低功耗、易于安装、经济耐用。</p>
			<ul style="margin-top: 30px;">
				<li><a class="def">产品特点</a></li>
				<li><a class="pic">图片展示</a></li>
				<li><a class="rule">产品规格</a></li>
			</ul>

			<div class="pro_def">
				<h3>产品特点</h3>
				<div>
					<p>
	多种输出格式，具备良好的兼容性<br />
两种颜色可选，搭配不同装修风格<br />
专利外观造型，简洁时尚<br />
灌胶工艺，防尘、防静电外壳采用优质PC/ABS模具成型
</p>
<p>
	<br />
</p>				</div>
				<h3 class="pic_show">图片展示</h3>
				<div class="photo">
					<a href="javascript:;" class="prev"></a>
					<ul class="photo_ul">
												<li>
							<a><img src="29.png" tppabs="http://www.thtfria.com.cn/uploadfiles/image/201604/29.png" width="100" height="100"/>
							<p>TF-DF6100</p></a>
						</li>
												<li>
							<a><img src="30.png" tppabs="http://www.thtfria.com.cn/uploadfiles/image/201604/30.png" width="100" height="100"/>
							<p>TF-DF6110-白</p></a>
						</li>
												<li>
							<a><img src="31.png" tppabs="http://www.thtfria.com.cn/uploadfiles/image/201604/31.png" width="100" height="100"/>
							<p>TF-DF6110-黑</p></a>
						</li>
											</ul>
					<a href="javascript:;" class="next"></a>
				</div>
				<h3 class="pro_rule">产品规格</h3>
				<div><p style="text-indent:-21pt;margin-left:21pt;" class="MsoListParagraph">
	输出格式：默认WG 26位，可选WG 32/34位
</p>
<p style="text-indent:-21pt;margin-left:21pt;" class="MsoListParagraph">
	工作电压：9-12V DC，直流电源供电
</p>
<p style="text-indent:-21pt;margin-left:21pt;" class="MsoListParagraph">
	工作环境：室内安装
</p>
<p style="text-indent:-21pt;margin-left:21pt;" class="MsoListParagraph">
	颜 &nbsp;&nbsp;&nbsp; &nbsp;色：黑色、白色
</p>
<p style="text-indent:-21pt;margin-left:21pt;" class="MsoListParagraph">
	尺&nbsp;&nbsp; &nbsp; &nbsp;寸：86×86×20mm
</p></div>
			</div>

		</div>
	</div>
     <!-- 版权信息 -->
<div class="bg_a">
    <ul class="f_nav clearfix">
        <li>
            <div class="name"><b>技术支持</b></div>
                   <p><a href="list.php?fid=89">常见问题</a></p>
                    <p><a href="list.php?fid=90">售后&维修</a></p>
                    <p><a href="list.php?fid=91">下载</a></p>
        </li>
        <li>
            <div class="name"><b>关于我们</b></div>
            <p><a href="bencandy.php?fid=65&id=805">了解我们</a></p>
            <p><a href="bencandy.php?fid=78&id=911">加入我们</a></p>
            <p><a href="list.php?fid=48">联系我们</a></p>
        </li>
        <li class="f_ct">
            <div class="name"><b>联系方式<i>&nbsp;</i></b></div>
            <p>
                <a href="mailto:$webdb[email]">
                    <img src="images/icon6.png" alt=""/>
                    <span>邮箱:$webdb[email]</span>
                </a>
            </p>
            <p>
                <a href="tel:$webdb[phone]">
                    <img src="images/icon5.png" alt=""/>
                    <span>电话:$webdb[phone]</span>
                </a>
            </p>
<!--            <p class="share">
                <a href=""><img src="images/f1.png" alt=""/></a>
                <a href=""><img src="images/f2.png" alt=""/></a>
                <a href=""><img src="images/f3.png" alt=""/></a>
                <a href=""><img src="images/f4.png" alt=""/></a>
            </p>-->
        </li>
        <li class="dz">
            <div class="name"><b>我们的地址</b></div>
            <p>$webdb[cname]<br/>
                $webdb[ename]</p>
            <p>$webdb[address]</p>
            <p>
                TEL：$webdb[tel]
                <a href="list.php?fid=48" class="map">网站地图</a>
            </p>
          <div class="f_s">
                <form  method="post" action="http://www.test.com/do/search.php" target='spiframe'>
                  <td>
                    <input type="text" name="keyword" placeholder="搜索: 关键字 ">
                    <input type="submit"  value="搜索" target="_blank">
                  </td>
                </form>

        </div>
        </li>
    </ul>
</div>
<div class="f_bg">
	<div class="bq clearfix">
    	<div class="bq_l">
            <a href="list.php?fid=92">法律声明</a> | 
            <a href="list.php?fid=93">隐私保护</a>
        </div>
        <div class="bq_r" style='width:59%;'>$webdb[copyright]</div>
    </div>
</div>

<!-- content -->
	<script type="text/javascript">
		//mengceng
		$(".img_div").hover(function(){
			$(this).find(".mj_mc").show();
		},function(){
			$(this).find(".mj_mc").hide();
		})



		// xiala
		$(".Li_xiala").hover(function(){
			$(this).find(".nav_xiala").show();
		},function(){
			$(this).find(".nav_xiala").hide();
		})
	</script>


