<!--
<?php
print <<<EOT
-->
<!-- 版权信息 -->
<div class="bg_a">
    <ul class="f_nav clearfix">
        <li>
            <div class="name"><b>技术支持</b></div>
                   <p><a>常见问题</a></p>
                    <p><a>售后&维修</a></p>
                    <p><a>下载</a></p>
        </li>
        <li>
            <div class="name"><b>关于我们</b></div>
            <p><a href="bencandy.php?fid=65&id=805">了解我们</a></p>
            <!-- <p><a href="bencandy.php?fid=78&id=911">加入我们</a></p> -->
            <p><a href="list.php?fid=48">联系我们</a></p>
        </li>
        <li class="f_ct">
            <div class="name"><b>联系方式<i>&nbsp;</i></b></div>
            <p>
                <a href="mailto:$webdb[email]">
                    <img src="images/icon6.png" alt=""/>
                    <span>邮箱:$webdb[email]</span>
                </a>
            </p>
            <p>
                <a href="tel:$webdb[phone]">
                    <img src="images/icon5.png" alt=""/>
                    <span>电话:$webdb[phone]</span>
                </a>
            </p>
<!--            <p class="share">
                <a href=""><img src="images/f1.png" alt=""/></a>
                <a href=""><img src="images/f2.png" alt=""/></a>
                <a href=""><img src="images/f3.png" alt=""/></a>
                <a href=""><img src="images/f4.png" alt=""/></a>
            </p>-->
        </li>
        <li class="dz">
            <div class="name"><b>我们的地址</b></div>
            <p>$webdb[cname]<br/>
                $webdb[ename]</p>
            <p>$webdb[address]</p>
            <p>
                TEL：$webdb[tel]
                <a href="list.php?fid=48" class="map">网站地图</a>
            </p>
          <div class="f_s">
                <form  method="post" action="http://www.test.com/do/search.php" target='spiframe'>
                  <td>
                    <input type="text" name="keyword" placeholder="搜索: 关键字 ">
                    <input type="submit"  value="搜索" target="_blank">
                  </td>
                </form>

        </div>
        </li>
    </ul>
</div>
<div class="f_bg">
	<div class="bq clearfix">
    	<div class="bq_l">
            <a href="list.php?fid=92">法律声明</a> | 
            <a href="list.php?fid=93">隐私保护</a>
        </div>
        <div class="bq_r" style='width:59%;'>$webdb[copyright]</div>
    </div>
</div>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "hm.js-7f308bffbaa3fd414333a99baed6cb9e"/*tpa=https://hm.baidu.com/hm.js?7f308bffbaa3fd414333a99baed6cb9e*/;
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
<script type="text/javascript">
	//mengceng
	$(".img_div").hover(function(){
		$(this).find(".mj_mc").show();
	},function(){
		$(this).find(".mj_mc").hide();
	})



	// xiala
	$(".Li_xiala").hover(function(){
		$(this).find(".nav_xiala").show();
	},function(){
		$(this).find(".nav_xiala").hide();
	})
</script>
<html>
<!--
EOT;
?>
-->