<!--<?php
if(!$fid){ $A = now ;} 
elseif($fid==49||$fid==50||$fid==51||$fid==52||$fid==53||$fid==54||$fid==68||$fid==67){ $B = now ;}
elseif($fid==55||$fid==56||$fid==57||$fid==58||$fid==59||$fid==60||$fid==61||$fid==62){ $C = now; }
elseif($fid==79||$fid==80||$fid==81||$fid==82||$fid==83){ $D = now ;}
elseif($fid==63||$fid==64){ $E = now ;}
elseif($fid==65||$fid==66||$fid==78){ $F = now;}
elseif($fid==48){ $G = now ;}
print <<<EOT
-->
<!doctype html>
<html>
    <head><meta http-equiv="Content-Type" content="text/html; charset=gb18030">
        
        <title>$webdb[webname]</title>
        <meta name="Keywords" content="$webdb[metakeywords]" >
        <meta name="Description" content="$webdb[description]" >
        <meta http-equiv="Pragma" content="no-cache">
        
        
        <link rel="stylesheet" type="text/css" href="yu-css/reset.css"/>
        <script type="text/javascript" src="yu-js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="yu-js/js_z.js"></script>
        <script type="text/javascript" src="yu-js/banner.js"></script>
        <link rel="stylesheet" type="text/css" href="yu-css/thems.css">
        <link rel="stylesheet" type="text/css" href="yu-css/responsive.css">
        
        
        
        <script language="javascript">
            $(function () {
                $('#owl-demo').owlCarousel({
                    items: 1,
                    navigation: true,
                    navigationText: ["上一个", "下一个"],
                    autoPlay: true,
                    stopOnHover: true
                }).hover(function () {
                    $('.owl-buttons').show();
                }, function () {
                    $('.owl-buttons').hide();
                });
            });
        </script>
    </head>
    <body>
        <SCRIPT language="javascript" type="text/javascript">
            function click()
            {
                //return false;
                //alert('需要复制，请与站长联系！')
            }
            function click1()
            {
                if (event.button == 2)
                {
                    //alert('需要复制，请与站长联系！')
                    //return false;
                }
            }
            function CtrlKeyDown()
            {
                if (event.ctrlKey)
                {
                    //alert('不当的拷贝将损害您的系统！')
                }
            }
            //document.onkeydown = CtrlKeyDown;
            //document.onselectstart = click;
            //document.onmousedown = click1;
        </SCRIPT> 
        <!--头部-->
        <div class="header">
            <div class="head clearfix">
                <div class="logo"><a href=""><img src="images/b.png" alt="$webdb[webname]" style="width:250px"/></a></div>
                <div class="nav_m" style='width: 810px;'>
                    <div class="n_icon">导航栏</div>
                    <ul class="nav clearfix">
                        <li class="$A"><a href="index.php">首页</a></li>
                        <li class="Li_xiala $B">
                            <a href="list.php?fid=49">产品中心</a>
                            <div style='display:none;width:auto;background-color:#83B4E8;position: absolute;top:auto;left:auto;display: block;opacity: .8;z-index: 101;padding: 0 10px;'>
                               <div class="nav_xiala" style="width: 100%;line-height: 30px;text-align: center;padding: 10px 0px;display: none;z-index: 1;">
<!--
EOT;
$sql="select * from qb_sort where fup=42 order by list asc";
$result=@mysql_query($sql);
while($row=mysql_fetch_array($result)){
print <<<EOT
-->
<a href="list.php?fid=$row[fid]" >$row[name]</a><br>                
<!--
EOT;
}
print <<<EOT
-->
                                </div>
                            </div>
                        </li>
                        <li class="Li_xiala $C">
                            <a href="list.php?fid=55">解决方案</a>
                            	<div style='display:none;width:auto;background-color:#83B4E8;position: absolute;top:auto;left:auto;display: block;opacity: .8;z-index: 101;padding: 0 10px;'>
				<div class="nav_xiala" style="width: 100%;line-height: 30px;text-align: center;padding: 10px 0px;display: none;z-index: 1;">
<!--
EOT;
$sql="select * from qb_sort where fup=43 order by list desc";
$result=@mysql_query($sql);
while($row=mysql_fetch_array($result)){
print <<<EOT
 -->
				<a href="list.php?fid=$row[fid]" >$row[name]</a><br>                
<!--
EOT;
}
print <<<EOT
-->
			        </div>
			        </div> 
                        </li>
                        <li class="Li_xiala $D">
                            <a href="list.php?fid=79" >典型案例</a>
                            	<div style='display:none;width:auto;background-color:#83B4E8;position: absolute;top:auto;left:auto;display: block;opacity: .8;z-index: 101;padding: 0 10px;'>
				<div class="nav_xiala" style="width: 100%;line-height: 30px;text-align: center;padding: 10px 0px;display: none;z-index: 1;">
<!--
EOT;
$sql="select * from qb_sort where fup=44 order by list desc";
$result=@mysql_query($sql);
while($row=mysql_fetch_array($result)){
print <<<EOT
 -->
				<a href="list.php?fid=$row[fid]" >$row[name]</a><br>                
<!--
EOT;
}
print <<<EOT
-->
			       </div>
			     </div>
                        </li>
                        <li class="Li_xiala $E">
                            <a href="list.php?fid=79">新闻动态</a>
                               <div style='display:none;width:auto;background-color:#83B4E8;position: absolute;top:auto;left:auto;display: block;opacity: .8;z-index: 101;padding: 0 10px;'>
				<div class="nav_xiala" style="width: 100%;line-height: 30px;text-align: center;padding: 10px 0px;display: none;z-index: 1;">
<!--
EOT;
$sql="select * from qb_sort where fup=45";
$result=@mysql_query($sql);
while($row=mysql_fetch_array($result)){
print <<<EOT
 -->
				<a href="list.php?fid=$row[fid]" >$row[name]</a><br>                
<!--
EOT;
}
print <<<EOT
-->
                            </div>
                            </div>
                        </li>
                        <li class="Li_xiala $F">
			<a href="bencandy.php?fid=65&id=805" >关于我们</a>
			     <div style='display:none;width:auto;background-color:#83B4E8;position: absolute;top:auto;left:auto;display: block;opacity: .8;z-index: 101;padding: 0 10px;'>
			    <div class="nav_xiala"  id = 'nav_xiala' style="width: 100%;line-height: 30px;text-align: center;padding: 10px 0px;display: none;z-index: 1;">
<!--
EOT;
$sql="select * from qb_sort where fup=47";
$result=@mysql_query($sql);
while($row=mysql_fetch_array($result)){
$id=mysql_fetch_assoc(mysql_query("select * from qb_article where fid=$row[fid]"));
print <<<EOT
 -->
				<a href="bencandy.php?fid=$row[fid]&id=$id[aid]">$row[name]</a><br>                
<!--
EOT;
}

print <<<EOT
-->
                            </div>
                            </div>
			</li>
                       <!-- <li class="Li_xiala $G"><a href="list.php?fid=48" >联系我们</a></li> -->
                    </ul>
                </div>
            </div>
        </div>






<script language="javascript">
$(".Li_xiala").hover(function () {
        $(this).find(".nav_xiala").show();
    }, function () {
        $(this).find(".nav_xiala").hide();
    })
    function righthit(){
		if (event.button==2)
		{ 
			//alert('上海蓝快电子科技有限公司');
		}
	 
	}
		$('#nav_xiala').append('<a href="list.php?fid=48">联系我们</a><br>');
</script>
<!--
EOT;
?>
-->