<!--
<?php
$listdb || $hide_listnews='none';		//如果是大分类的话,就不存在标题,就把标题框隐藏
!$listdb_moresort && !$listdb && !$fidDB[type] && $hide_listnews='';
print <<<EOT
--> 
<link rel="stylesheet" type="text/css" href="yu-css/thems.css">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "hm.js-7f308bffbaa3fd414333a99baed6cb9e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>	
<!--<div class="p_banner">-->
    <div class="banner banner_s" style="z-index: 10">
			<!--	<div style=" height:250px;background-color: #113A40; margin:auto"> -->
				        <div style=" height:250px;background:url('./img/fff1.jpg')  no-repeat center top; margin:auto">
<!-----------------产品banner一 ----------------->
<!--
EOT;
if($_GET[fid]==49){ $limit="5,1";}
elseif($fid==50){ $limit="10,1";}
elseif($fid==51){ $limit="10,1";}
elseif($fid==52){ $limit="10,1";}
elseif($fid==53){ $limit="10,1";}
elseif($fid==54){ $limit="10,1";}
elseif($fid==67){ $limit="10,1";}
elseif($fid==68){ $limit="10,1";}
$sql="select * from qb_article where fid=41 limit $limit";
$result=@mysql_query($sql);
while($row=mysql_fetch_array($result)){
print <<<EOT
-->
		<!--<img src="upload_files/$row[picurl]" />-->
       <!-- <img src="img/13.jpg" >-->
<!--
EOT;
}
print <<<EOT
-->
<!---------------------产品banner一 结束-------------->
		<div class="p_intro "><!--width_1000-->
			<h2 style="color:white; text-align:center; line-height:220px;font-size:35px;">$fidDB[name]</h2>
			<p>

            $fidDB[descrip]
				</p>
		</div></div>
	</div>
	<div class="p_cont width_1000">
		<div class="cont_top">
<!---------------产品banner二---------------->
<!--
EOT;
if($_GET[fid]==49){ $limit="6,1";}
elseif($fid==50){ $limit="11,1";}
elseif($fid==51){ $limit="11,1";}
elseif($fid==52){ $limit="11,1";}
elseif($fid==53){ $limit="11,1";}
elseif($fid==54){ $limit="11,1";}
elseif($fid==67){ $limit="11,1";}
elseif($fid==68){ $limit="11,1";}
$sql="select * from qb_article where fid=41 limit $limit";
$result=@mysql_query($sql);
while($row=mysql_fetch_array($result)){
print <<<EOT
-->
	<!--<img src="upload_files/$row[picurl]" />-->
       <!-- <img alt="" src="img/231.jpg"  />-->
<!--
EOT;
}
print <<<EOT
-->
<!---------------产品banner二结束 ---------------->
			
<p>&nbsp;
	
</p>		</div>
	</div>
	<div class="sisterm">
		<div class="sist_title"><h2><span>$fidDB[name]</span></h2></div>
		<ul>
        
<!--
EOT;
$biao = "article";   //这里写你调用的数据库表名，不加前绰
$lanmu = "WHERE yz=1 and A.fid={$fid} order by A.list desc"; //查SQL的条件  括号里面写你要调用的栏目，可以查大分类的信息
$rows = 5;   //这里写你每页显示多少条
$showpage=getpage("{$pre}{$biao}  A left join qb_reply B on A.aid=B.aid left join qb_article_content_105 C on A.aid=C.aid","{$lanmu}","?fid=$fid",$rows);
$c = $page - 1;  
$b=$c*$rows;
$sql = $db->query("SELECT *  FROM {$pre}{$biao} A left join qb_reply B on A.aid=B.aid left join qb_article_content_105 C on A.aid=C.aid {$lanmu}  limit {$b} , {$rows}");
while($row = $db->fetch_array($sql))  
{

$zongshu = preg_replace('/<(.*?)>/',"",$row[my_540]);
$my_540 = get_word($row[zongshu],300);
$zhengwen = preg_replace("/<(.*?)>/","",$row[content]);
$content = get_word($zhengwen,100);
if(!$row[my_398]){ $my_398 = "style='display:none'";}else{ $my_398 = "";}
if(!$row[my_546]){ $my_546 = "style='display:none'";}else{ $my_398 = "";}
if(!$row[my_634]){ $my_634 = "style='display:none'";}else{ $my_398 = "";}
print <<<EOT
-->        
<li>
				<div class="width_1000">
					<a href="bencandy.php?fid=$row[fid]&id=$row[aid]" >
                    <img src="upload_files/$row[picurl]" alt="$row[title]" width="170" height="170"></a>
            
					<div class="descrip">
						<h3><a href="bencandy.php?fid=$row[fid]&id=$row[aid]" >$row[title]</a></h3>
						<p>$my_540</p>
						<div class="des_left">
							<h3>产品规格</h3>
								<div style="padding: 0 30px; width: 310px;">$content</div>
						</div>
						<div class="des_right">
							<h3>图片</h3>
							<ul class="photo_ul">
							
							
								<li $my_398>
									<a><img src="upload_files/$row[my_398]" width="70" height="70"/></a>
								</li>
								<li $my_546>
									<a><img src="upload_files/$row[my_546]" width="70" height="70"/></a>
								</li>
								<li $my_634>
									<a><img src="upload_files/$row[my_634]" width="70" height="70"/></a>
								</li>
									<li style="height:0;border:0;margin:0;padding:0;width:70px;"></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
						
						
						
<!--
EOT;
}
print <<<EOT
-->                        
                        
                        
             <div style="text-align:center;">$showpage</div>           
                        
                        
                       
					</ul>
	</div>
    <!-- 版权信息 -->
<div class="bg_a">
    <ul class="f_nav clearfix">
        <li>
            <div class="name"><b>技术支持</b></div>
                   <p><a href="list.php?fid=89">常见问题</a></p>
                    <p><a href="list.php?fid=90">售后&维修</a></p>
                    <p><a href="list.php?fid=91">下载</a></p>
        </li>
        <li>
            <div class="name"><b>关于我们</b></div>
            <p><a href="bencandy.php?fid=65&id=805">了解我们</a></p>
            <p><a href="bencandy.php?fid=78&id=911">加入我们</a></p>
            <p><a href="list.php?fid=48">联系我们</a></p>
        </li>
        <li class="f_ct">
            <div class="name"><b>联系方式<i>&nbsp;</i></b></div>
            <p>
                <a href="mailto:$webdb[email]">
                    <img src="images/icon6.png" alt=""/>
                    <span>邮箱:$webdb[email]</span>
                </a>
            </p>
            <p>
                <a href="tel:$webdb[phone]">
                    <img src="images/icon5.png" alt=""/>
                    <span>电话:$webdb[phone]</span>
                </a>
            </p>
<!--            <p class="share">
                <a href=""><img src="images/f1.png" alt=""/></a>
                <a href=""><img src="images/f2.png" alt=""/></a>
                <a href=""><img src="images/f3.png" alt=""/></a>
                <a href=""><img src="images/f4.png" alt=""/></a>
            </p>-->
        </li>
        <li class="dz">
            <div class="name"><b>我们的地址</b></div>
            <p>$webdb[cname]<br/>
                $webdb[ename]</p>
            <p>$webdb[address]</p>
            <p>
                TEL：$webdb[tel]
                <a href="list.php?fid=48" class="map">网站地图</a>
            </p>
          <div class="f_s">
                <form  method="post" action="http://www.test.com/do/search.php" target='spiframe'>
                  <td>
                    <input type="text" name="keyword" placeholder="搜索: 关键字 ">
                    <input type="submit"  value="搜索" target="_blank">
                  </td>
                </form>

        </div>
        </li>
    </ul>
</div>
<div class="f_bg">
	<div class="bq clearfix">
    	<div class="bq_l">
            <a href="list.php?fid=92">法律声明</a> | 
            <a href="list.php?fid=93">隐私保护</a>
        </div>
        <div class="bq_r" style='width:59%;'>$webdb[copyright]</div>
    </div>
</div>
	<script type="text/javascript">
		//mengceng
		$(".img_div").hover(function(){
			$(this).find(".mj_mc").show();
		},function(){
			$(this).find(".mj_mc").hide();
		})



		// xiala
		$(".Li_xiala").hover(function(){
			$(this).find(".nav_xiala").show();
		},function(){
			$(this).find(".nav_xiala").hide();
		})
	</script>
<!--
EOT;
?>
-->
