<!--
<?php
print <<<EOT
-->
<!-- content -->
<div id="lxwm">
    <div class="lxwm_banner paterner_banner" style="height:220px; background: url(180.jpg)/*tpa=http://www.thtfria.com.cn/uploadfiles/image/201605/180.jpg*/ no-repeat center;">
<!--
EOT;
$sql="select * from qb_article where fid=41 limit 8,1";
$result=@mysql_query($sql);
while($row=mysql_fetch_array($result)){
print <<<EOT
-->
		<img src="upload_files/$row[picurl]" width="100%" height="220px;"/>
       <!-- <img src="img/13.jpg" >-->
<!--
EOT;
}
print <<<EOT
-->    </div>
    <div class="lxwm_lujing">
        当前位置：<a href="index.htm" >首页</a> > <a href="index.php-c=content&a=list&catid=5.htm" title="伙伴加盟">伙伴加盟</a>    </div>
    <div class="lxwm_content">
		<!--<h2 style="text-align:center;">
	<br />
</h2>
<h2 style="text-align:center;">
	欢迎加入锐安渠道伙伴联盟
</h2>
<p>&nbsp;
	
</p>
<p>&nbsp;
	
</p>
<h3>
	&nbsp;&nbsp;&nbsp;&nbsp;<strong>&nbsp; 渠道招募</strong> &nbsp;
</h3>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 同方锐安门禁产品全国招商火热进行中...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 同方锐安速通门产品全国招商火热进行中...
</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 招商热线：010-82399213&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 招商热线：010-82399121 &nbsp; 13811600303
</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 联系人：吴经理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 联系人：王经理
</p>
<p>
	&nbsp;<br />
&nbsp;&nbsp;
</p>
<p>
	<br />
</p>
<h3>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 合作优势
</h3>
&nbsp; <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1）提供最全面的出入口控制产品及一卡通系统解决方案，使业务范围更广泛、专业 <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2）公司质量体系管理全面，产品质量过硬，通过CE认证等多项认证。<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3）企业实力雄厚，品牌影响力强，多年连续荣获安防行业十大品牌<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4）将产品利润最大程度的分享给合作伙伴，保证市场价格在行业内具备足够的竞争力<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5）提供前期的销售培训和持续的技术培训，帮助经销商快速成长<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6）提供全方位的广告和推广宣传，提升品牌影响力，销售信息资源全面共享<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7）渠道政策让经销商投资少、风险低<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8）在全面销售支持的前提下，提供完善和全面的服务支持<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9）区域市场经销体系，市场机遇难得，领先一步，占得先机<br />
&nbsp; <br />
<h3>
	&nbsp; &nbsp; &nbsp; &nbsp;<strong>渠道支持<br />
</strong> &nbsp;&nbsp;
</h3>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1）分享高额利润空间给经销商，和经销商共享利润、分享成功<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2）展会、行业网站、行业平面广告、渠道推广会等，行业推广全方位推广<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3）定期向经销商无偿提供公司产品宣传资料及最新技术解决方案<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4）以信息化手段完善的渠道管理，定期开展培训支持和销售支持<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5）渠道经理不定期的拜访，帮助经销商开展市场业务全面配合各区域合作伙伴的入围及项目运作，并提供必要的策略及行业政策<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6）共享各类工程信息资源，大型项目招投标的技术支持&nbsp;
<p>
	<br />
</p>
<p>&nbsp;
	
</p> -->
		$rsdb[content]
   </div>
</div>

<!-- content -->
<!--
EOT;
?>
-->