<!--<?php
if(!$fid){ $A = currentA ;} 
elseif($fid==49||$fid==50||$fid==51||$fid==52||$fid==53||$fid==54||$fid==68||$fid==67){ $B = currentA ;}
elseif($fid==55||$fid==56||$fid==57||$fid==58||$fid==59||$fid==60||$fid==61||$fid==62){ $C = currentA; }
elseif($fid==79||$fid==80||$fid==81||$fid==82||$fid==83){ $D = currentA ;}
elseif($fid==63||$fid==64){ $E = currentA ;}
elseif($fid==65||$fid==66||$fid==78){ $F = currentA;}
elseif($fid==48){ $G = currentA ;}
print <<<EOT
-->
<!doctype html>
<html lang="zh-cn">
    <head><meta http-equiv="Content-Type" content="text/html; charset=gb18030">
        
        <meta name="Keywords" content="门禁系统,产品中心,同方锐安科技有限公司" >	
        <meta name="Description" content="同方锐安门禁系统由门禁读卡器、门禁控制器、门禁管理软件组成。读卡器支持M1卡、CPU卡、国密CPU卡；控制器采用工业级32位CPU的高速ARM平台设计和TCP/IP网络通讯，兼容各类门禁读卡设备；管理软件功能丰富、支持分布式部署；系统具有高安全性、高扩展等特点，灵活实现出入口的安全防范管理。" >
        <meta http-equiv="Pragma" content="no-cache"/>
        <title>$webdb[webname]</title>
        <link type="text/css" rel="stylesheet" href="yu-css/index.css" >
        <script src="yu-js/jquery-1.8.2.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="yu-js/jquery.SuperSlide.2.1.1.js" ></script>
    </head>
    <body>
        <div id="head_ny">	
            <div id="nav_ny">
                <div id="nav_up">
                    <a class="f_l" href="index.php"><img src="images/b.jpg"></a>
                    <!--<img class="f_r" src="img/logo_05.png" >-->
                    <div class="clear"></div>
                </div>
                <ul class="ul_nav clearfix" id="nav_down">
                    <li class="$A"><a href="index.php" >首页</a>
                    </li>
                    <li class="Li_xiala $B">
                        <a href="list.php?fid=49" >产品中心</a>
                        <div class="index_mc">
                            <div class="nav_xiala">
<!--
EOT;
$sql="select * from qb_sort where fup=42 order by list asc";
$result=@mysql_query($sql);
while($row=mysql_fetch_array($result)){
print <<<EOT
-->
<a href="list.php?fid=$row[fid]" >$row[name]</a><br>                
<!--
EOT;
}
print <<<EOT
-->

                                <!--<a href="index.php-c=content&a=list&catid=8.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=list&catid=8">门禁系统</a><br>
                                        <a href="index.php-c=content&a=list&catid=9.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=list&catid=9">电子门锁</a><br>
                                        <a href="index.php-c=content&a=list&catid=10.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=list&catid=10">速通门系统</a><br>
                                        <a href="index.php-c=content&a=list&catid=11.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=list&catid=11">人证合一核验</a><br>
                                        <a href="index.php-c=content&a=list&catid=12.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=list&catid=12">一卡通应用</a><br>
                                        <a href="index.php-c=content&a=list&catid=13.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=list&catid=13">射频识别产品</a><br>-->
                            </div>
                        </div>
                    </li>
                    <li class="Li_xiala $C">
                        <a href="list.php?fid=55" >解决方案</a>
                        <div class="index_mc">
                            <div class="nav_xiala">
<!--
EOT;
$sql="select * from qb_sort where fup=43 order by list desc";
$result=@mysql_query($sql);
while($row=mysql_fetch_array($result)){
print <<<EOT
-->
<a href="list.php?fid=$row[fid]" >$row[name]</a><br>                
<!--
EOT;
}
print <<<EOT
-->
                            </div>
                        </div>
                    </li>
                    <li class="Li_xiala $D">
                        <a href="list.php?fid=79" >典型案例</a>
                        <div class="index_mc">
                            <div class="nav_xiala">
<!--
EOT;
$sql="select * from qb_sort where fup=44 order by list desc";
$result=@mysql_query($sql);
while($row=mysql_fetch_array($result)){
print <<<EOT
-->
<a href="list.php?fid=$row[fid]" >$row[name]</a><br>                
<!--
EOT;
}
print <<<EOT
-->

                            </div>
                        </div>
                    </li>
                    <li class="Li_xiala $E">
                        <a href="list.php?fid=63" >新闻动态</a>
                        <div class="index_mc">
                            <div class="nav_xiala">
<!--
EOT;
$sql="select * from qb_sort where fup=45";
$result=@mysql_query($sql);
while($row=mysql_fetch_array($result)){
print <<<EOT
-->
<a href="list.php?fid=$row[fid]">$row[name]</a><br>                
<!--
EOT;
}
print <<<EOT
-->

                                <!--<a href="index.php-c=content&a=list&catid=22.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=list&catid=22">公司动态</a><br>
                                        <a href="index.php-c=content&a=list&catid=23.htm" tppabs="http://www.thtfria.com.cn/index.php?c=content&a=list&catid=23">媒体报道</a><br>-->
                            </div>
                        </div>
                    </li>
                    <!--<li class="Li_xiala $E">
    <a href="list.php?fid=46" >伙伴加盟</a>
                            </li>-->
                    <li class="Li_xiala $F">
                        <a href="bencandy.php?fid=65&id=805" >关于我们</a>
                        <div class="index_mc">
                            <div class="nav_xiala" id='nav_xiala'>
<!--
EOT;
$sql="select * from qb_sort where fup=47";
$result=@mysql_query($sql);
while($row=mysql_fetch_array($result)){
$id=mysql_fetch_assoc(mysql_query("select * from qb_article where fid=$row[fid]"));
print <<<EOT
-->
<a href="bencandy.php?fid=$row[fid]&id=$id[aid]">$row[name]</a><br>                
<!--
EOT;
}
print <<<EOT
-->
                            </div>
                        </div>
                    </li>
               <!--     <li class="Li_xiala $G">
                        <a href="list.php?fid=48" >联系我们</a>
                    </li> -->
                </ul>
            </div>
        </div>
    <body oncontextmenu=self.event.returnValue=false onselectstart="return false">
<!--
EOT;
?>
-->
<script language="javascript">
$('#nav_xiala').append('<a href="list.php?fid=48">联系我们</a><br>');
</script>