<!--
<?php
print <<<EOT
-->
<style>
    #pages a,#pages span{margin-right:10px;padding:5px 13px;height:34px;border: 2px solid #eee;color:#555;text-align:center;line-height:34px;}
    #pages span {
        background-color:#DA251D;
    }
    a{text-decoration:none;color:#666666;margin:0;padding:0;}
</style>
<div style="clear:both"></div>
<div class="scd scd_a clearfix">
	<div class="scd_l">
    	<div class="name">技术支持</div>
        <ul class="s_nav">
<!--
EOT;
$res=@mysql_query("select * from qb_sort  WHERE `fup`=88");
while($row=mysql_fetch_array($res)){
$color=$row[fid]==$fid?"style='color: #D9251D;'":'';
print <<<EOT
-->	
    <li>
    <a href="list.php?fid=$row[fid]" $color >$row[name]</a>
   </li> 
<!--
EOT;
}
print <<<EOT
-->  
            
            
        </ul>
    </div>
    <div class="scd_r">
    	<div class="case">
<!--
EOT;
$biao = "article";   //这里写你调用的数据库表名，不加前绰
$lanmu = "WHERE a.`yz`=1 and a.`fid`=$fid"; //查SQL的条件  括号里面写你要调用的栏目，可以查大分类的信息
$rows =10;   //这里写你每页显示多少条
$showpage=getpage("{$pre}{$biao} as  a ","{$lanmu}","?fid=$fid",$rows);
$c = $page - 1;  
$b=$c*$rows;
$sql = $db->query("SELECT a.*,b.*  FROM `qb_article` AS a LEFT JOIN `qb_reply` AS b ON a.`aid`=b.`aid`  {$lanmu}  limit {$b} , {$rows}");
while($row = $db->fetch_array($sql))  
{
print <<<EOT
-->	
            
            
        	<dl class="clearfix">
            	<dt><a href='upload_files/$row[picurl]' style='$hover'><img src="upload_files/$row[picurl]" alt=""/></a></dt>
                <dd>
                	<div class="title"><a href="bencandy.php?fid=$row[fid]&id=$row[aid]">$row[title]</a></div>
                    <div class="des">$row[content]</div>
                    <div class="more"><a href="bencandy.php?fid=$row[fid]&id=$row[aid]">点击详细>></a></div>
                </dd>
            </dl>
<!--
EOT;
}
print <<<EOT
-->		</div>					
			<div id="pages" style="margin:20px auto;height:34px;text-align:center;">
            $showpage
        </div>
    </div>
</div>
<!--
EOT;
?>
-->