@charset "utf-8";
/* CSS Document */
body,form,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,li{margin:0;padding: 0;}
ul,ol{padding:0;list-style:none;}
a{text-decoration:none;color:#666666; margin: 0; padding: 0;}
a img{border:none;}
body{font-size:14px;font-family:"微软雅黑","宋体","Times New Roman"; background: #fff; color:#333333;}
.clear{ clear: both; }
.clearfix:after{ content:""; display: block; height: 0; visibility: hidden; overflow: hidden; clear: both; }
.f_l{ float: left; }
.f_r{ float: right; }
.width_1000{ width: 1000px; margin: 0 auto; }
#px18{font-size:18px;}
.current_a{color:#002561;}

/*banner样式*/

#head{width:100%; float: left; z-index: 99;height:660px; overflow: hidden}
#nav{
	height:100px;
	width:1000px;
	left:50%;
	float: left;
	margin-left:-500px;
	position:relative;
	top:-630px;
	z-index: 0;
}
/*插件*/
.slideBox{width:100%; height:660px; overflow:hidden; position:relative; }
.slideBox .hd{ height:20px; overflow:hidden;position:absolute; right:50%; bottom:20px; z-index:1;margin-right:-80px;}
.slideBox .hd ul{padding-right: 6px; overflow:hidden; zoom:1; height:20px;float:left; box-shadow: 1px 2px 2px;}
.slideBox .hd ul li{box-shadow:1px 1px 3px #5f444a; float:left; margin-right:2px; border-radius: 18px; width:18px; height:18px; line-height:14px; text-align:center; background:#fff; cursor:pointer;margin-left:10px;}
.slideBox .hd ul li.on{ background:#9bb0ce;border:1px #fff solid;height:16px; width:16px;}
.slideBox .bd{ position:relative; height:660px; z-index:0;}
.slideBox .bd li{ zoom:1; vertical-align:middle; height:660px; overflow: hidden; position: relative;}
.slideBox .bd img{height:660px; display:block; overflow: hidden; width: 1920px; position: absolute; left: 50%; margin-left: -960px;}

/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next{ position:absolute; left:6%; top:60%; display:block; width:32px; height:40px; background:url(../img/lunbo_anniu_03.png)/*tpa=http://www.thtfria.com.cn/views/default/images/lunbo_anniu_03.png*/ no-repeat; filter:alpha(opacity=50);opacity:0.5;height:64px; width:44px;   }
.slideBox .next{ left:auto; right:6%; background:url(../img/lunbo_anniu_06.png)/*tpa=http://www.thtfria.com.cn/views/default/images/lunbo_anniu_06.png*/ no-repeat; background-color:#ccc;background-color:#3c3c3c;height:64px; width:44px;}
.slideBox .prev{background-color:#3c3c3c;height:64px; width:44px;}
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;}
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
/*插件end*/

#banner{position:relative;left:50%;float:left; margin-left:-960px;}
/*头部样式*/

/*#head{width:100%; overflow: hidden; position: fixed; top: 0; z-index: 99;}*/

.ul_nav{
	margin-left:-80px
}
.ul_nav li{
	float:left;
	position:relative;
	line-height:40px;
	display:block;
	font-size:14px; 
	text-align:center;
	margin-left:82px
}

/*mc*/
.index_mc{
	width:100%;background-color: #fff;position: absolute;top:54px;left:-10px;display: block;opacity:.8;z-index: 100;padding: 0 10px;
}
.nav_xiala{width:100%;line-height: 30px;text-align:center;padding:10px 0px;display: none;z-index: 1;}
/*mc*/
.ul_nav li a{
	 color:#3c3c3c;
}
.ul_nav li a:hover{
	 color:#043985;
}
.currentA{border-bottom: 2px #d61518 solid;}
.ul_nav li:hover{
	 border-bottom: 2px #d61518 solid;
}

#head_ny{width:100%;position: relative; background-color: #fff; box-shadow: 2px 2px 3px rgba(0,0,0,0.6); z-index: 99;height:138px;}

.nav_bk{width:100%; height:78px; overflow:hidden; position:relative;box-shadow:2px 2px 2px #ccc }
#nav_ny{
	width:1000px;
	margin: 0px auto;
	padding-top: 30px;
}
#nav_up{width:100px;margin-bottom:10px; float:left;}
#nav_up a{ display: block; height: 46px;}
#nav_up a img{ height: 46px;}
#nav_down li{
	margin-left:20px;
	padding:20px 14px;
	height: auto;
	line-height:12px;
}
/*#nav_down a{padding:20px 0px;}*/
#nav_down li:first-of-type{
	margin-left: 0;
}
#nav_down{
	margin-left: 0;
 
	float:right;
}
/*index产品中心*/
	/*标题*/
#chanpin{
	width:100%; /*height:660px;*/ overflow: hidden;background-color: #fafafa;
}
#title_chanpin{width:100%;height:45px;border-bottom: 1px solid #ccc;margin:30px 0px 20px 0px;text-align: center;
}
#title_chanpin .border{width:70px;height:44px;float:left;position:absolute;margin:0px 0px 0px -35px;left:50%;border-bottom: 3px solid #4487e5;
}
#title_chanpin span{color:#4487e5;letter-spacing:-.5px;
}
	/*内容*/
#cp_content{width:100%;height:510px;}

#cp_content .md{height:400px;width:1000px;margin:0 auto;
}
#kuai{float: left;width:20px;height:20px;}


#cp_content .md .img_div{height:250px;width:320px;float:left;margin-bottom:20px;
						
						 margin-right:20px;
						 position: relative;
}
#cp_content .md .img_div a{display: block; text-align: center;}
#cp_content .md .img_div:nth-of-type(3n){margin-right:0;}
/*蒙层*/
.mj_mc{width:320px;height:90px;padding:80px 0px; background-color:#043985;opacity:0.8;
	position: absolute;top:0px;left:0px;text-align: center;color:#fff;}
/*解决方案*/
#jjfa{
	width:100%; height:660px; overflow: hidden;background-color:#f0f0f0;
}
#jjfa_content{
	width:1000px;overflow: hidden;/*position:absolute;left:50%;float: left;margin-left: -500px;*/margin:0 auto;
}
#jjfa_content .jjfa_img{
	width:1000px;height:514px; overflow: hidden;float: left;background:url(../img/jiejuefangan_03.png)/*tpa=http://www.thtfria.com.cn/views/default/images/jiejuefangan_03.png*/ no-repeat 0px 40px;
}
#jjfa_content .jjfa_img {position: relative;}
#jjfa_content .jjfa_img a:nth-of-type(1){position: absolute;left:570px; top:50px;}
#jjfa_content .jjfa_img a:nth-of-type(2){position: absolute;left:666px; top:108px;}
#jjfa_content .jjfa_img a:nth-of-type(3){position: absolute;left:706px; top:164px;}
#jjfa_content .jjfa_img a:nth-of-type(4){position: absolute;left:726px; top:222px;}
#jjfa_content .jjfa_img a:nth-of-type(5){position: absolute;left:732px; top:278px;}
#jjfa_content .jjfa_img a:nth-of-type(6){position: absolute;left:720px; top:334px;}
#jjfa_content .jjfa_img a:nth-of-type(7){position: absolute;left:694px; top:392px;}
#jjfa_content .jjfa_img a:nth-of-type(8){position: absolute;left:632px; top:450px;}
#jjfa_content .jjfa_img a:hover{font-size: 16px;color:#043985;cursor: pointer;}



/*新闻动态--关于锐安*/
#xinwen{width:100%; float: left; height:460px; overflow: hidden;background-color:#f5f5f5;}
#xinwen .md{height:400px;float:left;width:1000px;position:absolute;margin:0px 0px 0px -500px;left:50%;margin-top:50px;}
#xinwen .xwdt_top span{color:#043985;height:25px;margin-top: 10px;border-bottom:2px #043985 solid;display: inline-block;}
.xinwen_img{ display: block;}
#xinwen .xinwen_time{color:#999999;font-size:12px;}
#xinwen img{margin:10px 0px;}
#xinwen .see_more a{color:#043985;cursor: pointer;font-size: 14px;}
/*新闻*/
#xinwen .md .xwdt{height:400px;float:left;width:326px;}
#xinwen .md .xwdt .xwdt_top{height:36px;width:326px;border-bottom:1px #ccc solid;}
/*案例*/
#xinwen .md .dxal{height:400px;float:left;width:326px;margin-left:12px;
}
#xinwen .xwdt_con{ height: 100px; font-size: 12px; line-height: 23px; color: #575757;}
#xinwen .xwdt_con b{ font-weight: 400; font-size: 14px; color: #333; display: inline-block; margin-bottom: 10px; width: 250px; }
#xinwen .see_more{margin-top: 10px;}
/*关于锐安*/
#xinwen .md .gyra{height:400px;float:right;width:326px;}
/*版权信息*/
#bq{width:100%;background-color:#232323;/*float:left;position: fixed;margin-top: -22px;*/}
#bq .bq_sp{font-size: 12px;width:1000px;line-height:50px; height:50px;margin:0 auto;color:#999999;text-align: center;}
#bq .bq_sp a{color: #999999;}



/*内页*/




/*产品中心样式*/
/*产品中心*/
/*banner*/
.p_banner{width:100%;height:260px;position: relative; overflow: hidden;}
.p_banner img{width:1900px;position: absolute;left: 50%;margin-left: -950px;z-index: -2}
.p_banner .p_intro{padding-left:45px;}
.p_banner .p_intro h2{font-size: 46px;color:#fff;padding-top: 50px; font-weight: 400;}
.p_banner .p_intro p{color:#454545;line-height: 24px;width:630px; margin-top: 10px;}

/*cont*/
.cont_top{margin-top: 30px;margin-bottom: 46px;overflow: hidden;}
/*.cont_top p{width:600px;display: inline-block;float:left;padding: 50px 0 62px 0;line-height: 24px;color:#454545;}*/

/*门禁系统*/
.sisterm{color:#545454;color:#959595;clear:both;}
.sist_title{ text-align: center; width: 200px;margin: 0 auto; border-top: 1px #999 solid;}
.sist_title>h2{background: #fff; position: relative;display: inline; border: 1px #999 solid; line-height: 42px;font-size: 18px;color:#454545;/*background: url(images/mj_title.png)no-repeat center;*/font-weight: normal;margin:0 0 76px 0; padding: 10px 20px; top: -22px; }
.sist_title>h2>span{background: #fff; position: relative; padding: 13px 10px; letter-spacing: 2px;}
.sisterm>ul>li{width:100%;overflow: hidden;padding:27px 0;}
.sisterm>ul>li:nth-of-type(2n){background: #efefef;}
.sisterm>ul>li>div>a>img{float:left;border-radius:10px;border:1px solid #a5a2a2;box-shadow:2px 2px 5px #a5a2a2 inset; padding:25px;background: #fff;}
.sisterm .descrip {float:right;width:750px;}
.descrip {float:right;width:750px;}
.sisterm .descrip h3{font-size: 16px;color:#545454;font-weight: normal;}
.sisterm .descrip p{line-height: 24px;margin: 10px 0 20px 0; height: 48px;}
.sisterm .descrip .des_left{float:left;width:50%;margin-left:-30px;}
.sisterm .descrip .des_left h3{padding-left:30px;padding-bottom: 10px;}
.sisterm .descrip .des_left span{padding:0 30px;line-height: 35px;}
.sisterm .descrip .des_right{float:right;width:50%;}
.sisterm .descrip .des_right .photo_ul{width:360px;text-align:justify;}
.sisterm .descrip .des_right .photo_ul li{display:inline-block;}


.sisterm .descrip .des_right h3{padding-bottom: 20px;}
.sisterm .descrip .des_right img{border:1px solid #d3d3d3;margin-right: 20px;}

/*产品详细
body{background: url(../images/body_bg.jpg) repeat-x left top/100% 100%;}*/
/*.mask_left{position: absolute;left:0;top:0;background: #f4f4f4;width:50%;height:100%;z-index: -100}*/
/*.mask_right{position: absolute;right:0;top:0;background: #fff;width:50%;height:100%;z-index: -99}*/

.prod_left{float:left;width:240px;padding-top: 24px;line-height: 36px;}
.prod_left a{display: block;cursor: pointer; padding-left: 10px;}
.prod_left>ul>li{border-bottom:1px dashed #e1e1e1;}
.prod_left>ul>li>a:hover{background:#e2e2e2;}
.prod_left ul li ul li a{line-height: 34px;padding-left: 30px;color:#053985;}
.prod_left ul li ul li a:hover,.prod_left ul li ul li a.hover{background: #053985;color:#fff;border-left: 4px solid #d9141b;padding-left: 26px}
.slideup{display: none}

.prod_right{width:720px;background: #fff;float:left;padding-left: 40px; padding-bottom: 40px;}
.prod_right h2{line-height: 107px; height: 170px; background: url(DF61p.jpg) no-repeat left bottom;font-size: 38px;padding-left: 170px;padding-top: 50px;}
.prod_right{color:#959595;line-height: 24px;}
.prod_right>ul{overflow: hidden;border-bottom: 1px solid #c8c8c8;display: box;margin-bottom: 45px;}
.prod_right>ul li{float:left;margin-right: 5px;}
.prod_right>ul li a{cursor:pointer;display: block;height:40px;width:100px;border:1px solid #c8c8c8;line-height: 40px;text-align: center;border-bottom: none;}
.prod_right{}
.prod_right{}
.pro_def h3{font-size: 18px;border-left: 5px solid #003f86;margin-bottom: 20px;padding-left: 10px;background:url(tedian_bg.jpg)/*tpa=http://www.thtfria.com.cn/views/images/tedian_bg.jpg*/ no-repeat 100px center}
.pro_def>ul>li{padding-left: 124px;}
.pro_def>ul>li:nth-of-type(1){background: url(clock.jpg) no-repeat 30px 15px;}
.pro_def>ul>li:nth-of-type(2){background: url(head.jpg) no-repeat 30px 15px;}
.pro_def>ul>li:nth-of-type(3){background: url(pen.jpg) no-repeat 30px 15px;}
.pro_def>ul>li:nth-of-type(4){background: url(tiao.jpg) no-repeat 30px 15px;}

.photo{width:720px;position: relative;overflow: hidden;height:180px;}
.photo ul{overflow: hidden;display: inline-block;width:1600px;margin-left:35px;position: absolute;}
.photo ul li{margin:0 18px;float:left;}
.photo ul li img{padding:14px 39px;border:1px solid #e6e6e6;}
.photo ul li p{text-align: center;color:#464646;margin-bottom: 0}
.photo>a{width:23px;height:130px;line-height: 130px;position: absolute;z-index: 10}
.photo>a.next{background: #fff url(img/next.jpg) no-repeat center;right:0;top:0;}
.photo>a.prev{background: #fff url(img/prev.jpg) no-repeat center;}
.photo .prev{float: left;}
.photo .next{float: right;}

/*产品中心样式  end*/

/*典型案例 */


#dxal{width:100%;margin:0 auto;/*position:relative; top:137px;*/}
/*#dxal .dxal_banner{height:220px;margin: 0 auto; background: url(./images/head_1_002.jpg)no-repeat center;}*/
#dxal .dxal_content{width:1000px;margin:0 auto;}
#dxal .dxal_content .f_l li{position: relative;top:-40px;}
/*#dxal .dxal_content .f_l li:hover{background-color: #ccc;color:#fff;cursor: pointer;}*/
#dxal .dxal_content .f_l li:nth-of-type(1){width:180px;height:40px; margin-bottom: 10px;line-height: 40px;text-align: center;background-color:#043985;opacity:0.9;color: #fff;}
#dxal .dxal_content .f_l a{display: block;margin-bottom:10px;background-color:#f5f5f5;width:180px;}
#dxal .dxal_content .f_l a img{ width: 180px; height: 40px;}
#dxal .dxal_content .f_l a:hover{background-color:#ccc;}

/*下拉*/
#mainBox{/*float:left;*/ min-height:498px; width:220px; line-height:2; position:relative;top:0px; left:0px; z-index: 9;overflow: hidden;}
#content {min-height:410px; position:absolute; left:0; top:0; }
.scrollDiv{width:4px; position:absolute; top:0px; background:#666; border-radius:10px; left:-1px;}



#dxal .dxal_content .dxal_lable{width:738px;min-height:420px;margin-bottom:50px; padding-top: 15px;overflow:hidden;}

.dxal_lujing{width:780px;height:40px;margin: 0 auto;border-bottom: 1px #002561 solid;text-align: right;line-height:50px;}

/*典型案例样式  end*/

/*新闻动态 */
#xwdt{width:100%;margin:0 auto;}
/*#xwdt .xwdt_banner{height:220px;margin: 0 auto; background: url(./images/head_1_02.png)no-repeat center;}*/
#xwdt .about_content{background: url(head_1_006.jpg)/*tpa=http://www.thtfria.com.cn/views/default/images/head_1_006.jpg*/no-repeat center;}
#xwdt .xwdt_content{width:1000px;margin:0 auto;}
#xwdt .xwdt_content .f_l li{width:180px;height:40px;background-color: #f5f5f5;text-align: center;line-height: 40px; margin-bottom: 10px;position: relative;top:-40px;}
#xwdt .xwdt_content .f_l li a{display: block;}
#xwdt .xwdt_content .f_l li:hover,#xwdt .xwdt_content .f_l li.hover{background-color: #ccc;color:#fff;cursor: pointer;}
#xwdt .xwdt_content .f_l li:nth-of-type(1){background-color:#043985;opacity:0.9;color: #fff;}
#xwdt .xwdt_content .f_l li:nth-of-type(1) a{ color: #fff;}
#xwdt .xwdt_content .xwdt_lujing{width:780px;height:40px;margin: 0 auto;border-bottom: 1px #002561 solid;text-align: right;line-height:50px;}
#xwdt .xwdt_content .xwdt_lable{width:780px;/*height:40px;*/margin-bottom:50px;}
#xwdt .xwdt_content .News{width:780px;height:140px;margin-top:20px;}
#xwdt .xwdt_content .xwdt_imgdiv{width:250px;height:140px;float:left;}
#xwdt .xwdt_content .news_ul{width:510px;height:140px;text-align: center; overflow: hidden;}
#xwdt .xwdt_content .news_ul li:nth-of-type(1){font-size: 18px;text-align:left;color:#10346d;}
#xwdt .xwdt_content .news_ul li:nth-of-type(1):hover{cursor: pointer;}
#xwdt .xwdt_content .news_ul li:nth-of-type(2),
#xwdt .xwdt_content .news_ul li:nth-of-type(3){text-align:left;color:#6c6c6c;text-indent:28px;}
#pages{margin:20px auto;/*margin-left: 300px;*/height: 34px; text-align: center;}
#pages a:hover{background-color:#264990;cursor:pointer;}
#pages a,#pages span{margin-right: 10px;padding: 5px 13px;height:34px;background-color: #757575;color:#fff;text-align:center; /*display: block;float: left;*/line-height: 34px; }
#pages span{background-color: #264990;}
/*新闻动态样式  end*/
/*新闻详情*/
#xwdt .xwdt_content .xwdt_xq_title{width:780px;}
.xwdt_xq_title ul{font-size: 18px;font-weight: bolder;float: left;margin-top:20px;}
.xwdt_xq_title ul li{margin-top: 12px;}
.xwdt_xq_title ul li:nth-of-type(1){font-size: 18px;font-weight: bolder;}
.xwdt_xq_title ul li:nth-of-type(2),
.xwdt_xq_title ul li:nth-of-type(3){font-size:12px;font-weight: 400;color:#6c6c6c;}
.xwxq_img{margin-top:20px;padding-top: 20px; width:132px;height:112px;border-radius:4px;background-color:#e1e1e1;text-align: center;}
.xwxq_img p:nth-of-type(1){font-size: 36px;color:#d61518;}
#xwdt .xwdt_content .xwxq_centent{width:780px;float:right;margin-top: 15px;margin-bottom:50px; color: #666; line-height: 25px; font-size: 12px;}
#xwdt .xwdt_content .xwxq_centent .xwxq_centent_img{margin:0 auto;width:700px;height:198px; padding:20px 0px;}

#xwdt .xwdt_content .xwxq_centent p{line-height:2;text-indent: 28px;}
/*新闻详情end*/


/*关于锐安 */

#lxwm .lxwm_content .gyra_title{margin:0 auto;font-weight: bold;font-size: 30px;color:#333; padding: 40px 0px; text-align: center;}
#lxwm .lxwm_content p{line-height:2;/*text-indent: 28px;*/}
.xwdt_xq_word li{}
.gyra_title_neirong{margin: 0 auto;display: block;}
.gyra_title_neirong p{display: block;}
/*关于锐安样式  end*/

/*联系我们 */

#lxwm{width:100%;margin:0px 0px 50px 0px;}
/*#lxwm .paterner_banner{background: url(./images/head_1_005.jpg)no-repeat center;}*/
#lxwm .lxwm_lujing{width:1000px;height:40px;margin: 0 auto;border-bottom: 1px #002561 solid;text-align: right;line-height:50px}
#lxwm .lxwm_lujing a:hover{color:#002561;}
#lxwm .lxwm_content{width:1000px; margin: 0 auto;}
#lxwm .lxwm_content ul{margin:10px 0px 0px 0px; line-height: 3;}
#lxwm .lxwm_map{float: right; width:674px;height:514px;margin:30px 0px 50px 0px;background: url(map_03.png)/*tpa=http://www.thtfria.com.cn/views/default/images/map_03.png*/; border: 1px #ccc solid}

/*联系我们样式  end*/
